<p class="imgpar" id="active-papers">
  <img src="{{site.filesurl}}/missing.jpg" alt="ActivePapers" />
  <a href="http://www.activepapers.org/" class="project">ActivePapers</a>
  aims to make computational science more open and more reliable by
  making computations reproducible and publishable. It is a file
  format for storing computations, consisting of both code and data,
  and it is also a software infrastructure for working with this
  file format.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#hinsen.k">Konrad Hinsen</a>
</p>
