<p class="imgpar" id="cyclus">
  <img src="{{site.filesurl}}/projects/cyclus.png" alt="Cyclus" />
  <a href="http://fuelcycle.org/" class="project">Cyclus</a>,
  the Next Generation Nuclear Fuel Cycle Simulator, is the
  next-generation agent-based nuclear fuel cycle simulator,
  providing flexibility to users and developers through a dynamic
  resource exchange solver and plug-in, user-developed agent
  framework. The goal of Cyclus is to enable a broad spectrum of
  fuel cycle simulation while providing a low barrier to entry for
  new users and agent developers.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#huff.k">Katy Huff</a>,
  <a href="{{site.baseurl}}/team/#wilson.p">Paul Wilson</a>,
  <a href="{{site.baseurl}}/team/#scopatz.a">Anthony Scopatz</a>
</p>
