<p class="imgpar" id="ipfs">
  <img src="{{site.filesurl}}/projects/ipfs.png" alt="IPFS" />
  <a href="http://ipfs.io/" class="project">IPFS</a>
  is a system for managing generic content-addressable data in
  a <a href="https://en.wikipedia.org/wiki/Merkle_tree">generalized
    Markle graph</a> and mutable references to that data over a
  distributed, peer-to-peer network.  For example, you could use the
  same system to manage both your source code and your huge binary
  datasets, transferring changes efficiently between any set of
  nodes, and archiving past versions for as long as you like.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#king.wt">W. Trevor King</a>
</p>
