<p class="imgpar" id="macroeco">
  <img src="{{site.filesurl}}/projects/iplant.jpg" alt="iPlant Collaborative" />
  The <a href="http://www.iplantcollaborative.org" class="project">iPlant Collaborative</a>
  is cyberinfrastructure for scientists, educators, and students
  working in all domains of life sciences. iPlant resources allow
  users to analyze, manage, and store data and experiments, access
  high-performance computing, and share results with colleagues.
  iPlant is open source and funded by the National Science
  Foundation.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#williams.jason">Jason Williams</a>
</p>
