<p class="imgpar" id="tec">
  <img src="{{site.filesurl}}/missing.jpg" alt="khmer project" />
  The <a href="http://khmer.readthedocs.org/en/latest/">khmer project</a>
  provides scripts and a library for analyzing,
  filtering, and correcting DNA sequencing data.  The project
  implements efficient probabilistic data structures and lossy
  compression algorithms for working with very large DNA sequencing
  data sets.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#brown.ct">Titus Brown</a>
</p>
