<p class="imgpar" id="macroeco">
  <img src="{{site.filesurl}}/projects/macroeco.png" alt="Macroeco" />
  <a href="http://macroeco.org" class="project">Macroeco</a>
  provides a comprehensive set of functions for analyzing empirical
  patterns in ecological data, predicting patterns using theory and
  models, and comparing empirical patterns to theory. Many major
  macroecological patterns can be analyzed using this package,
  including the species abundance distribution, the species and
  endemics area relationships, several measures of beta diversity,
  and many others.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#wilber.mark">Mark Wilber</a>,
  <a href="{{site.baseurl}}/team/#kitzes.j">Justin Kitzes</a>
</p>
