<p class="imgpar" id="magetbrain">
  <img src="{{site.filesurl}}/missing.jpg" alt="MAGeTBrain" />
  <a href="https://github.com/CobraLab/MAGeTbrain" class="project">MAGeTBrain</a>
  Given a set of anatomically labelled MR images (atlases) and
  unlabeled images (subjects), MAGeT (Multiple Automatically
  Generated Templates Brain Segmentation) produces a segmentation
  (automatic labeling) for each subject using a multi-atlas voting
  procedure based on a template library made up of images from the
  subject set.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#devenyi.gabriel">Gabriel A. Devenyi</a>
</p>
