<p class="imgpar" id="open-tree-of-life">
  <img src="{{site.filesurl}}/projects/open-tree-of-life.jpg" alt="Open Tree of Life" />
  <a href="http://opentreeoflife.org/" class="project">The Open Tree of Life</a>
  is building a comprehensive tree of all life. By enabling
  community contribution of phylogenies (estimates of species or
  other group relationships), and combining these phylogenies into a
  single tree-of-life we capturing the depth of knowledge about
  biodiversity on Earth, encouraging community comment and
  refinement and preserving phylogenetic data in a readily reusable
  way.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#mctavish.ej">Emily Jane McTavish</a>,
  <a href="{{site.baseurl}}/team/#cranston.k">Karen Cranston</a>
</p>
