<p class="imgpar" id="pyrdm">
  <img src="{{site.filesurl}}/projects/pyrdm.png" alt="PyRDM" />
  <a href="http://pyrdm.readthedocs.io" class="project">PyRDM</a>
  is a Python-based library for research data management (RDM). 
  It facilitates the automated management and publication of software
  source code and data via online, citable repositories hosted by
  Figshare, Zenodo, or a DSpace-based service. The library
  is <a href="https://github.com/pyrdm/pyrdm">open-source</a>
  and can be readily incorporated into scientific workflows to allow
  research outputs to be curated and shared in a straight-forward manner.
  <br/>
  Contact:
  <a href="{{site.baseurl}}/team/#jacobs.christian">Christian Jacobs</a>
</p>
