<p id="ahmed_arfan"> <!-- no image -->
  <span class="person">Arfan Ahmed</span> worked as a software developer
  for a number of years before completing a PhD in Medical Imaging
  writing software chemotherapy response prediction in breast cancer
  patients at the University of Hull, UK. As a postdoc he took on the
  post of Research Fellow automating disease detection in retinal
  images at the University of Aberdeen, Scotland. Currently he holds
  the post of Research Software engineer with the National Phenome
  Centre at Imperial College London.
</p>
