<p id="aldazabal_inigo" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/aldazabal_inigo.jpg' alt='Inigo Aldazabal' />">
    <span class="person">Inigo Aldazabal</span> holds a PhD on
    Materials Physics and works in the San Sebastian Materials Physics
    Center – CFM(CSIC-UPV/EHU) as CIO and scientific computing
    specialist. There he tries to fill the gap between physicists and
    computer science, while managing a couple of HPC Clusters and
    parallelizing some codes in between.
</p>
