<p id="alves_renato" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/alves_renato.jpg' alt='Renato Alves' />">
<span class="person">Renato Alves</span>is a PhD student in computational biology at EMBL-Heidelberg.
He is working on new methods to integrate metatranscriptomic and metagenomic data for understanding and characterizing microbial communities. In his free time he enjoys contributing to various [open-source] <a href="https://github.com/unode">(https://github.com/unode)/</a> [projects] <a href="https://gitlab.com/unode">(https://gitlab.com/unode)/</a> </p>


