
<p id="an_yuan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/an_yuan.jpg' alt='Yuan An' />">
<span class="person">Yuan An</span> is always interested in fascinating projects applyings information technologies and computational methods to business and scientific problems as an academic with 10 years of project management experience in technology and education industry. He is also passionate about teaching programming and data analytics skills to people in non-computer-science or non-IT fields, since he thinks everyone will be able to program, as, for today, everybody can create beautiful documents using word processing applications. </p>



