<p id="andrew_carrie" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/andrew_carrie.jpg' alt='Carrie Andrew' />">
    <span class="person">Carrie Andrew</span> was first an ecologist
    wandering midwestern US forests in search of fungi and plants.
    Following this she instructed at two universities in Chicago,
    Illinois.  An ecological research postdoc at the University of
    Oslo in Norway further shifted her path, so that now Carrie spends
    her days working in R (still with fungal data).
</p>
