<p id="ashander_jaime" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ashander_jaime.jpg' alt='Jaime Ashander' />">
 <a href="http://www.ashander.info/" class="person">Jaime Ashander</a>
 is a population biologist who develops theory on the consequences of
 trait change for population dynamics, and methods to infer population
 processes from genomic and phenotypic time series. Currently a
 post-doc
 at <a href="https://www.eeb.ucla.edu/Faculty/Shaffer/">UCLA</a>,
 Jaime received his Ph.D. from the University of California - Davis in
 2016.
</p>
