
<p id="bailey_alistair" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bailey_alistair.jpg' alt='Alistair Bailey' />">
<span class="person">Alistair Bailey</span>  is a post-doc fellow at Florida Museum of Natural History, University of Florida, in Solti lab. His research passion is seeking for understand the pattern of evolutionary radiations in angiosperms and the cause of their diversification using comparative biology tools. He is especially interested in bioinformatics regarding to data mining and spend a lot of time in Bash. </p>


