<p id="bajcz_alex" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bajcz_alex.jpg' alt='Alex Bajcz' />">
    <span class="person">Alex Bajcz</span> is a PhD candidate at the
    University of Maine, where he studies reproductive trade-offs in
    plants. His research interests include plant ecology and
    evolutionary biology, applied statistics, and simulation modeling,
    but he is looking to expand into science education research and
    the synthesis of ecological theory as well. He is also moonlights
    as a crossword constructor, among other things; he has had puzzles
    published by the New York Times and Los Angeles Times.
</p>
