<p id="ballinger_thomas" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ballinger_thomas.jpg' alt='Thomas Ballinger' />">
    <span class="person">Thomas Ballinger</span> worked for several
     years at medical imaging lab at Brigham and Women's Hospital,
     then left to work as a facilitator at the Recurse Center, a
     programming workshop for experienced programmers. After four
     years of helping participants become better programmers (and
     produce a lot of BitTorrent clients as a side effect) he's now
     prototyping live coding environments in the browser and learning
     about programming pedagogy.
</p>
