<p id="ballsun-stanton_brian" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ballsun-stanton_brian.jpg' alt='Brian Ballsun-Stanton' />">
<span class="person">Brian Ballsun-Stanton</span> is currently a Research Associate at Macquarie University in Sydney, Australia. His research interests include exploring how people interact with and understand the nature of data and an investigation into the mechanics of ludic-narrative interactions in games. He is the Technical Director and Data Architect for the Field Acquired Information Management Systems (FAIMS) Project. </p>


