<p id="baltzell_asher" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/baltzell_asher.jpg' alt='Asher Baltzell' />">
    <span class="person">Asher Baltzell</span> is a graduate student
    at the University of Arizona interested in the intersection of
    science, data, and computers. He works with a number of other
    scientists in diverse fields ranging from genomics to
    astronomy. Asher is particularly interested in interactive data
    visualization, distributed computing, and web-based scientific
    analysis platforms.
</p>
