
<p id="barter_rebecca" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/barter_rebecca.jpg' alt='Rebecca Barter' />">
<span class="person">Rebecca Barter</span> is a statistics PhD student and data science fellow at UC Berkeley. She is the developer of the R package, superheat (<a href="https://rlbarter.github.io/superheat/">rlbarter.github.io/superheat/</a>), for creating beautiful visualizations of complex data, and her research involves assessing the allocation of organs for transplantation. Rebecca is an R enthusiast and she particularly enjoys developing visualizations using both R and D3.js. </p>


