<p id="bast_radovan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bast_radovan.jpg' alt='Radovan Bast' />">
    <a href="http://bast.fr/" class="person">Radovan Bast</a>
    is a senior engineer at the High Performance Computing Group at
    UiT The Arctic University of Norway. His work evolves
    around developing and supporting quantum chemistry software
    and software for the simulation of marine ecosystem components.
    He is interested in using, sharing, and teaching modern collaborative
    development tools and work-flows.
</p>
