<p id="batut_berenice" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/batut_berenice.jpg' alt='Berenice Batut' />">
    <span class="person">Berenice Batut</span> is a post-doctoral
    researcher in bioinformatics. She is currently working on analyses
    of gut microbiota data in Clermont-Ferrand, France. During her PhD
    in computational biology and bioinformatics, she studied reductive
    genome evolution using in silico experimental evolution and
    comparative genomics.
</p>
