<p id="beitey_david" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/beitey_david.jpg' alt='David Beitey' />">
    <a class="person" href="http://davidjb.com">David Beitey</a> works closely
    with researchers and research groups in improving their digital skill and
    abilities. He is extremely passionate about open source technologies, and
    is a maintainer of and an active contributor to many projects, such as the
    eSpaces platform for cross-instituional collaboration. His current role is
    part of the eResearch Centre at James Cook University, Australia.
</p>
