<p id="bell_jason" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bell_jason.jpg' alt='Jason Bell' />">
    <span class="person">Jason Bell</span> is the Senior Research
    Technologies Officer at CQUniversity Australia and eResearch
    Analyst for the Queensland Cyber Infrastructure Foundation (QCIF),
    where his primary focus is to assist CQUniversity researchers
    achieve better research outcomes through the use of technology.
    Jason holds a Bachelor of Information Technology (with honours)
    from CQUniversity Australia.
</p>
