<p id="bennett_shaun" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/bennett_shaun.jpg' alt='Shaun Bennett' />">
<span class="person">Shaun Bennett</span> is a Library Technician at the North Carolina 
State University Libraries in Raleigh, North Carolina. His research interests include 
technology education, library collection management and outreach, and medieval 
Scandinavian history. He is particularly interested in using Python to automate 
large-scale data projects within the library world, and in the interaction between 
technology education and library spaces. </p>
