<p id="bergman_casey" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bergman_casey.jpg' alt='Casey Bergman' />">
    <span class="person">Casey Bergman</span>
    is an evolutionary informatician at the University of Georgia,
    where he is an associate professor in the Institute of
    Bioinformatics and Department of Genetics. His research uses
    diverse computational methods to better understand the structure,
    function, and evolution of genomes. An ex-expat, he spent over ten
    years in the UK before returning to the US in 2016 to dehumidify.
</p>
