<p id="berghold_jared" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/berghold_jared.jpg' alt='Jared Berghold' />">
    <span class="person">Jared Berghold</span> works for Intersect
    Australia, a not-for-profit organisation helping researchers at
    Australian universities achieve research impact through
    technology. Previously, Jared spent four years at the UNSW
    research centre, iCinema, developing software for large-scale
    immersive and interactive art installations.
</p>
