<p id="bernard_joey" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bernard_joey.jpg' alt='Joey Bernard' />">
    <span class="person">Joey Bernard</span> works with ACENET-Compute
    Canada, helping research groups with their computational needs. He
    also writes a monthly column in Linux Journal on scientific
    software and a monthly column in Linux User and Developer on
    writing Python programs on the Raspberry Pi. He recently finished
    writing the book <em>Python Recipes</em> for the publisher APress.
</p>
