<p id="bjornstad_marius" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bjornstad_marius.jpg' alt='Marius Bjørnstad' />">
    <span class="person">Marius Bjørnstad</span> is an engineer at the
    Norweigan Sequencing Centre in Oslo, which does DNA sequencing for
    researchers in Norway. He deals with system administration, a lot
    of programming, and some data analysis. Marius has previously
    studied high energy physics, and worked on data analysis at the
    LHCb experiment at CERN.
</p>
