<p id="bond_s" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bond_s.jpg' alt='Steve Bond' />">
    <span class="person">Steve Bond</span> is a postdoctoral fellow at
    the National Human Genome Research Institute. In his previous life
    he was an old-school bench biologist, slinging liquid by the
    microliter, but these days he bangs on a keyboard hoping some
    biology will fall out. Steve's primary research focus is the
    molecular evolution of gene families, and he is also the lead
    developer of
    <a href="https://github.com/biologyguy/BuddySuite">BuddySuite</a>,
    a command-line toolkit for manipulating biological data files.
</p>
