<p id="bonsma_madeleine" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bonsma_madeleine.jpg' alt='Madeleine Bonsma' />">
    <span class="person">Madeleine Bonsma</span> is a graduate student
    in the Department of Physics at the University of Toronto, where
    she studies bacteria-virus interactions and a bacterial adaptive
    immune system called CRISPR. She loves peer-led learning, teaching
    programming and undergraduates, and Python. When not frowning at
    her computer screen, she enjoys running, novels, and the great
    outdoors.
</p>
