<p id="bouquin_daina" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bouquin_daina.jpg' alt='Daina Bouquin' />">
    <a href="https://twitter.com/DainaBouquin" class="person">Daina
    Bouquin</a> is the Assistant Head Librarian of the
    Harvard-Smithsonian Center for Astrophysics. At the CfA, Daina
    works to foster open science, professional development, and
    technical innovation to support the astronomy and astrophysics
    communities. She is committed to lowering social and technical
    barriers that impact people's ability create and share new
    knowledge.
</p>
