<p id="bourque_matthew" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bourque_matthew.jpg' alt='Matthew Bourque' />">
<span class="person">Matthew Bourque</span> is a Senior Research and Instrument Analyst at the Space Telescope Science Institute in Baltimore, Maryland, where he performs functional support of the Hubble Space Telescope and forthcoming James Webb Space Telescope. His work mainly involves building automated instrument calibration and monitoring software with Python, SQL databases, and web applications. </p>


