<p id="boushey_geoffrey" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/boushey_geoffrey.jpg' alt='Geoffrey Boushey' />">
<span class="person">Geoffrey Boushey</span> holds an MS in Industrial Engineering and Operations Research from UC Berkeley. He works at the UCSF Library as a software developer, where he writes applications to share, search, and archive research datasets. He joined Software Carpentry as part of the UCSF Library data science initiative to help researchers better manage and analyze their data. </p>

