<p id="bowman_ross" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bowman_ross.jpg' alt='Ross Bowman' />">
    <span class="person">Ross Bowman</span> is a Computer Specialist
    for the Oklahoma State University Library and is responsible for
    research and development within the Systems department. He is also
    pursuing a Masters of Library and Information Studies from the
    University of Oklahoma. Ross' interests and work exists at the
    crossroads of libraries and technology.
</p>
