<p id="breckels_lisa" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/breckels_lisa.jpg' alt='Lisa Breckels' />">
    <span class="person">Lisa Breckels</span> is a computational
    biologist at the University of Cambridge, UK. Her work focuses on
    the development of bioinformatics and statistical tools, that
    utilise pattern recognition and machine learning methods to enable
    robust analysis of high-throughput quantitative proteomics
    data. She is a contributor to the Bioconductor project through
    several R packages. Lisa has a PhD is Computational
    Chemistry/Biology and BSc in Mathematics.
</p>
