<p id="bridges_dave" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bridges_dave.jpg' alt='Dave Bridges' />">
<span class="person">Dave Bridges</span> is an Assistant Professor of Nutritional Sciences at the University of Michigan School of Public Health. His team works on obesity and metabolic disease and he teaches classes on obesity and nutritional biochemistry. We use the command line, R and python extensively in our research including bioinformatics, epidemiology and reproducible research. </p>



