<p id="brin_lindsay" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/brin_lindsay.jpg' alt='Lindsay Brin' />">
    <span class="person">Lindsay Brin</span> is an ecosystem ecologist
    who uses biogeochemical and microbial ecological tools to
    understand the effects of environmental change, and is currently
    working as a postdoc at the University of New Brunswick. She loves
    playing with data and teaching the skills necessary to do so more
    efficiently and effectively. When she's not in the field or
    immersed in analysis, she can be found trail running, doing yoga,
    and playing drums in a rock band.
</p>
