
<p id="brooks-kieffer_jamene" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/brooks-kieffer_jamene.jpg' alt='Jamene Brooks-Kieffer' />">
<span class="person">Jamene Brooks-Kieffer</span> is Data Services Librarian and Coordinator of Digital Scholarship at the University of Kansas Libraries. A professional librarian since 2006, she has experience in electronic resources and e-resource systems, instruction, and support for data services and digital scholarship. She specializes in connecting colleagues to the resources they need for efficient, enjoyable work – including Carpentries lessons! </p>


