<p id="bryk_jarek" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/bryk_jarek.jpg' alt='Jarek Bryk' />">
    <span class="person">Jarek Bryk</span> is a lecturer in molecular
    biology at the University of Huddersfield in the north of England,
    where he is trying to get his head around analysing DNA to learn
    about evolutionary processes in natural populations of small furry
    animals. As a beginner in bioinformatics he often finds himself
    learning and teaching it at the same time...
</p>
