<p id="brym_zachary" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/brym_zachary.jpg' alt='Zachary Brym' />">
    <a href="http://zackbrym.weecology.org/" class="person">Zachary
    Brym</a> is a curriculum developer and website designer for the
    Data Carpentry for Biologists semester-long course. He earned his
    PhD in ecology in the Department of Biology at Utah State
    University where he studied tree fruit physiology and orchard
    management using data-driven models of tree growth and fruit
    production.
</p>
