<p id="brynildsen-reinar_william" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/brynildsen-reinar_william.jpg' alt='William Reinar' />">
    <span class="person">William Reinar</span> is a PhD student at
    Centre for Ecological and Evolutionary Synthesis (CEES) in the
    Institute of Biosciences, University of Oslo. He currently works
    within evolutionary genomics. His focus is the genomic basis of
    adaptation, which requires combining high-throughput sequencing
    data with environmental data.
</p>
