<p id="capes_gerard" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/capes_gerard.jpg' alt='Gerard Capes' />">
    <span class="person">Gerard Capes</span> was a researcher in
    Atmospheric Science, and learnt to program through analysis of
    field data and simulations of laboratory experiments.  Now a
    Research Software Engineer, he provides technical support to other
    researchers at the University Of Manchester.
    <br/>
    <strong>Maintainer: <a href="{{site.github_url}}/make-novice">Automation and Make</a></strong>
</p>
