<p id="carr_lindsay" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/carr_lindsay.jpg' alt='Lindsay Carr' />">
    <span class="person">Lindsay Carr</span> received a BS in
    Biological Systems Engineering from Virginia Tech in May 2015. She
    now works as a Data Scientist at the US Geological Survey (USGS)
    Office of Water Information. Her primary role is to create tools
    in R for accessing and using USGS water data in reproducible
    workflows, and introducing USGS scientists to R and the tools.
</p>
