<p id="carroll_ian" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/carroll_ian.jpg' alt='Ian Carroll' />">
    <span class="person">Ian Carroll</span> is a Data Scientist at the
    National Socio-Environmental Synthesis Center (SESYNC) in
    Annapolis, where he supports science teams doing computational
    synthesis of socio-environmental data and teaches introductory
    data skills workshops. He is a theoretical ecologist by training
    and has enjoyed doing research at the University of California
    Santa Barbara, the Woods Hole Oceanographic Institute, and
    Georgetown University.
</p>
