<p id="chatzidimitriou_kyriakos" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/chatzidimitriou_kyriakos.jpg' alt='Kyriakos Chatzidimitriou' />">
    <span class="person">Kyriakos Chatzidimitriou</span> is a
    post-doctoral research associate at the Aristotle University of
    Thessaloniki (AUTH) working on EU research and innovation
    projects. His research interests are in the areas of machine
    learning for and with software engineering, digital analytics and
    building autonomous agents for real world domains as for example
    for trading environments and for the semantic web. He is also an
    adjunct instructor in the Interdepartmental and Interdisciplinary
    Postgraduate Programme on Advanced Computer and Communication
    Systems at AUTH.
</p>
