<p id="christensen_erica" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/christensen_erica.jpg' alt='Erica Christensen' />">
    <span class="person">Erica Christensen</span> is a PhD student in
    Wildlife Ecology and Conservation at the University of Florida,
    with an MS in Environmental Science and a BA in Mathematics.  Her
    current work involves describing long-term dynamics in ecological
    time series, particularly dynamics related to extreme events
    and/or rapid regime shifts.
</p>
