<p id="christensen_garret" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/christensen_garret.jpg' alt='Garret Christensen' />">
    <span class="person">Garret Christensen</span> is an economist
    with the <a href="http://www.bitss.org/">Berkeley Initiative for
    Transparency in the Social Sciences</a> and
    the <a href="https://bids.berkeley.edu/">Berkeley Institute for
    Data Science</a>. He has conducted public health research in Kenya
    for Emory University and taught economics at Swarthmore
    College. He has also run more than 50 ultramarathons and walked
    from border to border across the entire United States four
    complete times.
</p>
