<p id="clayton_sarah" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/clayton_sarah.jpg' alt='Sarah Clayton' />">
    <span class="person">Sarah Clayton</span>
    is a Digital Scholarship Specialist at the University of Oklahoma
    Libraries, where she helps faculty and students explore tools to
    perform and showcase their research more effectively. She is
    especially interested in incorporating digital scholarship
    techniques into humanities and social science courses.
</p>
