<p id="cmero_marek" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/cmero_marek.jpg' alt='Marek Cmero' />">
    <span class="person">Marek Cmero</span> is a PhD student at the
    University of Melbourne working on prostate cancer research for
    the Department of Surgery. His background is in Computer Science
    and Bioinformatics, and currently he is working on developing
    novel algorithms and analysing cancer data sets using python and
    R. His research interests include tumour heterogeneity/evolution
    and genomic rearrangements.
</p>
