<p id="collins_arliss" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/collins_arliss.jpg' alt='Arliss Collins' />">
    <span class="person">Arliss Collins</span> is the training
    coordinator for the
    <a href="http://mozillascience.org/">Mozilla Science Lab</a>,
    an open science initiative of the Mozilla Foundation. She was
    educated as a geophysical engineer, re-trained as a
    business/systems analyst, and now works on educational activities
    and trainings for Mozilla.  She is a Canadian mother of two with a
    long-standing passion for curling.
</p>
