<p id="colonna_vincenza" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/colonna_vincenza.jpg' alt='Vincenza Colonna' />">
    <span class="person">Vincenza Colonna</span> works in human
    evolutionary genomics and her main research interests are natural
    selection and consanguineous populations. Her research focuses on
    causes and consequences of genetic diversity and natural
    selection. She is group leader at the National Research Council in
    Napoli, Italy where she is also leading
    a <a href="http://www.igb.cnr.it/obilab">local project for
    training in Bioinformatics</a>. She graduated from University of
    Napoli Federico II (Italy) and did postdoctoral work at University
    of Ferrara (Italy) and at the Wellcome Trust Sanger Institute
    (UK). She was lectures in Genetics and Bioinformatics at the
    University of Ferrara (Italy).
</p>
