<p id="connell_michael" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/connell_michael.jpg' alt='Michael Connell' />">
    <span class="person">Michael Connell</span>, Ed.D., holds a
    Master's degree in Computer Science from the Massachusetts
    Institute of Technology and a Doctorate in Education from Harvard
    University.  His research has centered mostly on applied cognitive
    science and evidence-based educational technology design, and for
    over a decade he has consulted to startups, non-profits,
    for-profit corporations, and governmental organizations in the
    areas of instructional design, assessment design, educational
    technology design, and data science.  He is currently Vice
    President of Training at Enthought, Inc.
</p>
