<p id="coome_lindsay" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/coome_lindsay.png' alt='Lindsay Coome' />">
    <span class="person">Lindsay Coome</span> is a PhD student in the
    Department of Psychology at the University of Toronto where she
    studies the evolutionary and biological basis of human sexual
    orientation. She received her BA from Western University and her
    MA from the University of Toronto. She enjoys teaching R and
    statistics, and in her spare time she can be found enjoying music
    and nature.
</p>
