<p id="cox_grace" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/cox_grace.jpg' alt='Grace Cox' />">
    <span class="person">Grace Cox</span> is a postdoc at the
    University of Liverpool and visiting researcher at the University
    of Leeds. She is a geophysicist by training, and is interested in
    geomagnetism and the dynamics of Earth's outer core. Her research
    focusses on how fluid motions in the core manifest in ground-based
    and satellite-based observations of Earth's magnetic field.
</p>
