<p id="cummings_rebel-cummings-sauls" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/cummings_rebel-cummings-sauls.jpg' alt='Rebel Cummings-Sauls' />">
<span class="person">Rebel Cummings-Sauls</span> is the Director of the Center for the Advancement of Digital Scholarship, formed in January 2015, at the Kansas State University (K-State) Libraries where she leads the center’s initiatives that maximize the creation, dissemination, preservation, and impact of digital scholarship produced at the university.  She earned her MLIS in 2010 from Florida State University. Shortly after graduation she began in library publishing at the University of South Florida. </p>


