<p id="darabos_christian" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/	darabos_christian.jpg' alt='Christian 
Darabos' />">
<span class="person">Christian Darabos</span> is a Life Science 
Informatics Specialist at Dartmouth College. In his role, he supports 
the computational needs of the research community, including High 
Performance Computing, Cloud Technologies, data storage and wrangling, 
and training in computational tool. He obtained his Ph.D. in Information 
Systems and Molecular Biotechnologies in Switzerland where he grew up 
speaking French. </p>


