<p id="deboever_christopher" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/deboever_christopher.jpg' alt='Chris DeBoever' />">
<span class="person">Chris DeBoever</span> is a postdoc at Stanford working on the genetics of human health with Carlos Bustamante and Manuel Rivas. Chris studied the genetic regulation of RNA splicing and gene expression during his PhD in Bioinformatics and Systems Biology at UC San Diego. Chris loves reproducible research, clean code, and cool science. </p>

