<p id="debo_christof" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/debo_christof.jpg' alt='Christof De Bo' />">
    <span class="person">Christof De Bo</span> works at the
    BioInformatics Training and Services (BITS) facility of VIB, a
    biotechnology research institute in Flanders, Belgium. There he
    holds the position of ELN Application Scientist and Research
    Informatics Scientist. He obtained his Bachelor degree in
    Bioinformatics at the University College West Flanders and
    performed his internship at the University College Cork,
    Ireland. In his spare time he plays badminton and enjoys cycling.
</p>
