<p id="deer_lachlan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/deer_lachlan.jpg' alt='Lachlan Deer' />">
    <span class="person">Lachlan Deer</span> is a PhD Candidate in
    Economics at the University of Zurich. His research focuses on
    consumer decision making and firm's strategic interactions, and is
    currently studying the impact of social media platforms influences
    consumer purchasing patterns and firm's advertising strategies.
    He is interested in scientific computing and is a co-developer of
    a course on scientific computing for researchers in economics and
    finance; and is passionate about improving the uptake of
    reproducible research practices among business, economics and
    finance academics and professionals.
</p>
