
<p id="denisenko_elena" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/denisenko_elena.jpg' alt='Elena Denisenko' />">
<span class="person">Elena Denisenko</span> is a computational biologist currently working on her PhD in Genetics at Massey University, Auckland, New Zealand. Her research lies in the area of regulation of transcription in mammalian genome, with a focus on understanding the biology of macrophages. Elena is particularly interested in helping non-computer scientists to see and use the benefits of scripting. </p>


