<p id="devenyi_gabriel" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/devenyi_gabriel.jpg' alt='Gabriel Devenyi' />">
    <a href="http://staticwave.ca/" class="person">Gabriel Devenyi</a>
    is a Research Computing Engineer at McGill University in
    the <a href="http://cobralab.ca">Computational BRain Anatomy
    Laboratory</a>. He develops software for analyzing MRI data and
    teaches open science to researchers and graduate students.
    <br/>
    <strong>Maintainer: <a href="{{site.github_url}}/shell-novice">The Unix Shell</a></strong>
</p>
