<p id="devisetty_upendra-kumar" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/devisetty_upendra-kumar.jpg' alt='Upendra Kumar Devisetty' />">
    <span class="person">Upendra Kumar Devisetty</span> is a Science
    Informatician working at CyVerse, with a Ph.D. in Plant Molecular
    Biology and Biotechnology. He has broad bioinformatics experience
    with particular expertise in Next Generation Sequencing and RNA
    Sequencing. At CyVerse he focuses on building tools and apps,
    providing Extended Collaborative Support (ECS), and helping teach
    new users how to use components of the CyVerse infrastructure.
</p>
