
<p id="di-stasio_luca" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/di-stasio_luca.jpg' alt='Luca Di Stasio' />">
<span class="person">Luca Di Stasio</span> is an Italian pal who loves to travel and learn, and happens to live in France at the moment. He is an Industrial Engineer (Italian Professional License) and holds Masters in Mechanical and Space Engineering. He is currently working towards a PhD in Materials Science and Engineering at Université de Lorraine and Luleå University of Technology, for which he spends most of his time programming, analyzing data and teaching. </p>


