<p id="diaz-gil_andres" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/diaz-gil_andres.jpg' alt='Andrés Díaz-Gil' />">
    <span class="person">Andrés Díaz-Gil</span> has a PhD in
    theoretical physics specialized in lattice gauge theories, and is
    currently dedicated to scientific computing. He is nowadays the
    CIO of the Institute for Theoretical Physics of the Spanish
    Research Council in Madrid. His interests include high performance
    computing, the application of big data to theoretical physics and
    software tools for better research.
</p>
