
<p id="diong_joanna" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/diong_joanna.jpg' alt='Joanna Diong' />">
<a href="http://scientificallysound.org/" class="person">Joanna Diong</a> 
is a physiotherapist by training who learned programming initially for statistics, 
then to handle electromyography and joint motion data in human movement research. 
She uses Python and Git, and is passionate about using scientific computing in 
research as part of good science. She co-authors the blog Scientifically Sound 
to help others do the same. 
</p>
