<p id="droop_alastair" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/droop_alastair.jpg' alt='Alastair Droop' />">
    <span class="person">Alastair Droop</span> is a bioinformatician
    and computational biologist working at
    the <a href="http://www.leeds.ac.uk">University of Leeds</a>. His
    research involves the analysis of large next-generation datasets
    for cancer research. He works for
    the <a href="http://www.lida.leeds.ac.uk/mrc.html">Leeds MRC
    Medical Bioinformatics Centre</a>, and has expertise in large data
    analysis, R and Python.
</p>
