<p id="durnez_joke" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/durnez_joke.jpg' alt='Joke Durnez' />">
<span class="person">Joke Durnez</span> is a Marie Curie postdoctoral fellow at Stanford University, working on neuroimaging statistics. She develops methods to enable reproducible neuroscience through optimal experimental design. Her methods are available in online toolboxes available at <a href="www.neuropowertools.org">www.neuropowertools.org</a>. She loves analyzing data and she enjoys sharing that love through education. </p>



