<p id="earl_stevan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/earl_stevan.jpg' alt='Stevan Earl' />">
    <span class="person">Stevan Earl</span> is the Information Manager
    for the Central–Arizona Phoenix Long-Term Ecological Research
    project and the Julie Ann Wrigley Global Institute of
    Sustainability at Arizona State University. He has a background in
    ecosystem ecology, but now focuses primarily on information
    management. In addition to managing research data, Stevan works
    with students and investigators to promote sound data management.
</p>
