<p id="edsall_christopher" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/edsall_christopher.jpg' alt='Christopher Edsall' />">
<span class="person">Christopher Edsall</span> is a Research Software Engineer based at 
the University of Bristol. He studied physics at the University of Canterbury in New 
Zealand before embarking in a career focused on High Performance Computing, particularly 
its application to earth science research - firstly at NZ's NIWA and NeSI then later at 
the UK's National Oceanography Centre. Now he is keen to help researchers of all 
disciplines make use of computational methods. </p>
