
<p id="etuk_anthony" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/etuk_anthony.jpg' alt='Anthony Etuk' />">
<span class="person">Anthony Etuk</span> is a Research Software Engineer at the Earlham Institute. He has a PhD in Computer Science from the University of Aberdeen. His area of interest was multi-agent systems, with a focus on computational models of Trust and Reputation. He continues to explore these techniques, and a number of techniques from Machine Learning and Statistics, in contexts of Open Science and Bioinformatics. </p>


