<p id="etxaniz_oier" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/etxaniz_oier.jpg' alt='Oier Etxaniz' />">
    <span class="person">Oier Echaniz Beneitez</span> is a PhD student
     doing software engineering and data analysis in the Computational
     Intelligent Group of the University of the Basque Country
     (UPV/EHU), Spain, where he develops tools for abdomo-pelvic CT &
     MR image processing and diagnosis. He is a co-founder and the
     actual chair of ACPySS, a local Basque non-profit free software
     organization. He has been on the board of the EuroPython Society
     since 2015 and co-organized EuroPython 2015 and EuroPython 2016.
</p>
