<p id="faghirhagh_varda" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/faghirhagh_varda.jpg' alt='Varda Faghir Hagh' />">
    <span class="person">Varda Faghir Hagh</span> is a PhD student in
    Computational Condensed Matter Physics at Arizona State University
    and she studies the critical behavior of physical systems as they
    go through a phase transition. Varda is originally from Iran and
    would like to help Software Carpentry expand their workshops to
    more developing countries and encourage women and researchers from
    any underrepresented groups to learn and use programming.
</p>
