<p id="fernandes_filipe" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/fernandes_filipe.jpg' alt='Filipe Fernandes' />">
    <span class="person">Filipe Fernandes</span>
    works for the National Oceanic and Atmospheric Administration/Integrated Ocean Observing System (NOAA/IOOS).
    His activities as a Research Software Engineer are to maintain the Software created by IOOS and ensure their sustainability.
    Located at Florianópolis, SC (Brazil) he is an oceanographer interested in regional numerical models and Met/Ocean Data analysis.
</p>
