<p id="fernandez-valverde_selene" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/fernandez-valverde_selene.jpg' alt='Joshua Fernandez-Valverde' />">
    <span class="person">Selene Fernandez-Valverde</span> is a
    genomicist and bioinformatician working as a Research Fellow at
    the National Laboratory for Genomic Biodiversity in Mexico
    (LANGEBIO). She is a founder of the civil organisation
    <a href="http://masciencia.org/">Más Ciencia por Mexico</a> (More
    Science For Mexico), aimed at promoting science and technology in
    her home country. She is an advocate of good practice in science
    and informatics and have a keen interest in all things related to
    gene regulation and RNA.
</p>
