<p id="ferreira-bocca_felipe" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ferreira-bocca_felipe.png' alt='Felipe Ferreira Bocca' />">
    <span class="person">Felipe Ferreira Bocca</span> is a
    Ph.D. Candidate at the School of Agricultural Engineering at the
    University of Campinas, where he is trying to quantify how much
    sugarcane production can be affected by the use of Machine
    Learning to recommend how to use Nitrogen fertilizers. This
    involves modeling sugarcane yield and its response to fertilizer,
    developing a recommendation algorithm and performing simulations
    for different weather scenarios.
</p>
