<p id="fishman_dmytro" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/fishman_dmytro.jpg' alt='Dmytro Fishman' />">
    <span class="person">Dmytro Fishman</span> received a Bachelor's
    degree from the National University of Ukraine (KPI), and Master's
    degree from the University of Tartu (Estonia). He is now a PhD
    student at the University of Tartu, working in the field of
    bioinformatics, and has taught data mining, machine learning,
    bioinformatics, and text algorithms courses. He Has been a program
    committee member in the Summer School AACIMP in Kyiv, Ukraine, and
    is currently a member of UPEER, an organisation that aims to
    contribute to development of scientific societies in Ukraine. He
    is also an active participant in Kaggle competitions.
</p>
