<p id="flaxman_abraham" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/flaxman_abraham.jpg' alt='Abraham Flaxman' />">
    <span class="person">Abraham Flaxman</span> is an Assistant
    Professor at the Institute for Health Metrics and Evaluation at
    the University of Washington.  His research applies mathematical
    models and numerical methods to challenges in global health
    metrics.  He loves it when scientists use revision control for
    their computational research code.
</p>
