<p id="ford_talitha" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ford_talitha.jpg' alt='Talitha Ford' />">
    <span class="person">Talitha Ford</span> is a neuroscience PhD
    student at Swinburne University of Technology, Melbourne. She uses
    Python and R regularly in her research, and loves sharing the
    skills she has learned with colleagues and those eager to
    learn. Talitha also participates in the NeuralCode group at
    Swinburne, which was set up to help scientists learn Python, R and
    a bit of SQL.
</p>
