<p id="ford_jes" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ford_jes.jpg' alt='Jes Ford' />">
    <span class="person">Jes Ford</span> is a Data Science postdoc at the 
    University of Washington eScience Institute. She taught herself to program 
    while doing astrophysics research in graduate school, and unfortunately 
    reinvented a lot of wheels in the process. Now she enjoys helping other 
    scientists adopt the best practices she has learned, so that research can 
    be done more efficiently.
</p>
