<p id="freeman_robert" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/freeman_robert.jpg' alt='Robert Freeman' />">
    <a href="http://scholar.harvard.edu/bobfreeman" class="person">Bob
    Freeman</a> is Director of Research Technology Operations at
    Harvard Business School, where he works to spread the good word
    about best scripting practices and data hygiene to Biz and Econ
    folks. With a PhD in Virology from Harvard University, he was
    worked on numerous -omics projects as both a test-tube nerd and
    informatics geek. In addition, he has hopped out of research at
    various times to enhance research practices and high-performance
    computing workflows for scientists across different disciplines.
</p>
