<p id="fucile_geoffrey" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/fucile_geoffrey.jpg' alt='Geoffrey Fucile' />">
    <span class="person">Geoffrey Fucile</span> holds a PhD from the
     University of Toronto (Cell and Systems Biology, Collaborative
     Graduate Program in Genome Biology and Bioinformatics) and
     conducted post-doctoral studies at the University of Geneva
     (Depts. of Molecular Biology and Plant Biology). He is currently
     working in bioinformatics support and training as a member of the
     SIB - Swiss Institute of Bioinformatics stationed at sciCORE -
     the Center for Scientific Computing at the University of
     Basel. He is interested in all aspects of structural biology,
     genomics, and empowering research through education in
     computational biology.
</p>
