<p id="gaba_ya-ulrich" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/gaba_ya-ulrich.jpg' alt='Yaé Ulrich Gaba' />">
<span class="person">Yaé Ulrich Gaba</span> is a pure mathematician, originally from the Republic and currently a post-doctoral fellow at <a href="http://www.nwu.ac.za/">North-West University</a>. Prior to NWU he was a teaching assistant at the <a href="https://aims.ac.za/">AIMS-ZA</a> where he was involved into Computing related courses. He is also affiliated with <a href="http://www.imsp-benin.com/home/">IMSP.</a> </p>

