<p id="gacenga_francis" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/gacenga_francis.jpg' alt='Francis Gacenga' />">
    <span class="person">Francis Gacenga</span> works as an eResearch
    Analyst for the Queensland Cyber Infrastructure Foundation, which
    provides research computing services and infrastructure to
    Queensland universities. He is based at the University of Southern
    Queensland in Toowoomba, Australia. He have worked internationally
    in information systems development, support, training and
    management and has a PhD in Information Systems, certifications in
    research commercialisation, IT service management and training and
    assessment.
</p>
