<p id="gallinger_jessica" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/gallinger_jessica.jpg' alt='Jessica Gallinger' />">
    <span class="person">Jessica Gallinger</span> is a research data
    management librarian on contract at Simon Fraser University. She
    delivers workshops on data management and consults with users to
    implement project-specific strategies for long-term data
    curation. She completed her Master of Information at the
    University of Toronto.
</p>
