<p id="gardner_paul" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/gardner_paul.jpg' alt='Paul Gardner' />">
    <span class="person">Paul Gardner</span> is a bioinformatics
    lecturer at the University of Canterbury, New Zealand. He teaches
    courses in bioinformatics, genomics and statistics. His research
    touches on non-coding RNAs, gene expression and functional
    characterisation of genome variation and he is enthusiastic about
    software benchmarks, Wikipedia editing, open source software and
    open access publishing.
</p>
