<p id="ge_baolai" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ge_baolai.jpg' alt='Baolai Ge' />">
    <span class="person">Ge Baolai</span> is a high performance
    computing consultant with the supercomputing consortium SHARCNET
    in Canada. Formally trained in numerical analysis and scientific
    computing, he has a wide research background in applied
    mathematics, engineering and finance. Baolai has been teaching
    courses in numerical methods and HPC for years.
</p>
