<p id="geiger_stuart" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/geiger_stuart.jpg' alt='Stuart Geiger' />">
    <a href="http://stuartgeiger.com/" class="person">Stuart
    Geiger</a> is a postdoctoral scholar and ethnographer at
    the <a href="http://bids.berkeley.edu">UC-Berkeley Institute for
    Data Science</a>. He studies the infrastructures and institutions
    that support the production of knowledge, focusing on topics such
    as collaboration, interdisciplinarity, community governance,
    newcomer socialization, and diversity and inclusion.
</p>
