<p id="geldenhuis_andre" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/geldenhuis_andre.jpg' alt='Andre Geldenhuis' />">
    <span class="person">Andre Geldenhuis</span> works as an eResearch
    Specialist for ITS at Victoria University of Wellington.  He
    received a Masters in Physics at Canterbury University focusing on
    atmospheric waves above Antarctica.  Working for a central service
    unit rather than a specific department gives Andre the flexibility
    to work with researchers from diverse fields, from the humanities
    to the sciences.
</p>
