<p id="gogoglou_antonia" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/gogoglou_antonia.jpg' alt='Joshua Gogoglou' />">
    <span class="person">Antonia Gogoglou</span> is a Phd student in
    Aristotle University of Thessaloniki, Greece focusing on Complex
    Networks and Data Mining applied in the field of
    Scientometrics. As an Electrical and Computer engineer she has
    discovered how coding can be deployed for a variety of problems in
    mathematics and physics as well as engineering overall, so she is
    really invested in communicating this knowledge to others.
</p>
