<p id="gorelik_boris" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/gorelik_boris.jpg' alt='Boris Gorelik' />">
<span class="person">Boris Gorelik</span> is a data scientist, algorithm developer, data visualization enthusiast and occasional lecturer. Boris has been solving data-intense problems since 2001 and has been teaching data visualization since 2015. Currently, Boris is a full-time data scientist at Automattic, the company beyond WordPress.com, Jetpack and other cool projects. Boris's homepage & blog is <a href="https://gorelik.net">https://gorelik.net</a>.
 </p>

