<p id="grande_bruno" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/grande_bruno.jpg' alt='Bruno Grande' />">
    <a href="http://bgran.de/" class="person">Bruno Grande</a> is a
    PhD student at Simon Fraser University, where he studies cancer
    genomics.  After completing an undergraduate degree in
    biochemistry, Bruno made the jump to computational biology in the
    area of cancer research, analyzing large cancer genome datasets to
    infer new knowledge about the biological processes involved in
    tumour initiation and progression. In doing so, he also discovered
    a passion for teaching digital literacy skills such as programming
    and version control and promoting open science/data/access.
</p>
