<p id="greenberg_jonathan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/greenberg_jonathan.jpg' alt='Jonathan Greenberg ' />">
<span class="person">Jonathan Greenberg </span> is a PhD candidate in the Biochemistry, Microbiology, and Immunology Department at Wayne State University in Detroit, MI. His research focuses meticulously investigating the presence of microbial communities within the female reproductive system in the context of pregnancy. He is enthusiastic about expanding his knowledge and skills regarding bioinformatics and sharing both to help advance others interested in the field. </p>


