<p id="harihareswara_sumana" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/harihareswara_sumana.jpg' alt='Sumana Harihareswara' />">
    <span class="person">Sumana Harihareswara</span> a Python
    programmer, technical writer, and community manager living in New
    York City, is the founder
    of <a href="http://changeset.nyc/">Changeset Consulting</a>, which
    provides short-term project management and maintenance services to
    open source software projects. She holds an MS in Technology
    Management from Columbia University and a BA in political
    science from UC Berkeley, and participated in
    the <a href="http://recurse.com/">Recurse Center</a> in 2013 and
    2014. Her past and present open source communities include
    <a href="http://www.gnome.org/">GNOME</a>,
    <a href="http://mediawiki.org/">MediaWiki</a>, <a href="http://www.list.org/">GNU
    Mailman</a>, and <a href="http://zulip.org/">Zulip</a>.
</p>
