<p id="harris_rayna" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/harris_rayna.jpg' alt='Rayna Harris' />">
    <a href="http://raynamharris.github.io/" class="person">Rayna
    Harris</a> graduated from the University of Texas in
    Austin with a PhD in Cell and Molecular Biology. 
    She enjoys particpating in the Software Carpentry community
    to spread best practices for research and open education
    <br/>
    <strong>Instructor Trainer, Maintainer</strong>
    <br/>
    <strong>Steering Committee (2016 Member, 2017 Secretary) </strong>
</p>
