<p id="hayek_wolfgang" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/hayek_wolfgang.jpg' alt='Wolfgang Hayek' />">
    <span class="person">Wolfgang Hayek</span> is a scientific
    programmer for the New Zealand eScience Infrastructure (NeSI) and
    for the National Institute of Water and Atmospheric research
    (NIWA) in Wellington, New Zealand. He has a PhD in astrophysics
    and supports scientists in using high-performance computers, helps
    them improve their scientific computing skills, and develops and
    looks after simulation codes with a focus on HPC.
</p>
