<p id="hejazi_nima" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/hejazi_nima.jpg' alt='Nima Hejazi' />">
<span class="person">Nima Hejazi</span> (<a href="https://nimahejazi.org">https://nimahejazi.org</a>) is a PhD student in Biostatistics at the UC Berkeley School of Public Health (<a href="http://sph.berkeley.edu/">http://sph.berkeley.edu/</a>). An applied statistician with diverse interests, he aims to build tools and develop theory at the intersection of nonparametrics, machine learning, and causal inference. Nima enjoys programming in R, Python, C++, and, recently, Julia, and he is an advocate for openness and reproducibility in data-centric sciences. </p>




