<p id="heroux_martin" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/heroux_martin.jpg' alt='Martin Héroux' />">
    <span class="person">Martin Héroux</span> is a physiotherapist by
    training. He received his PhD from Queen's University and
    completed a three year post-doctoral fellowship at the University
    of British Columbia. Martin currently works at Neuroscience
    Research Australia in Sydney where his research focuses on human
    sensory and motor physiology in both health and disease. He is
    interested in teaching computational skills to biomedical and
    clinical scientists to improve research transparency and
    reproducibility. Martin also
    co-authors <a href="http://scientificallysound.org/">Scientifically
    Sound</a>, a blog on reproducible research in the digital age.
</p>
