<p id="hetherington_james" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/hetherington_james.jpg' alt='James Hetherington' />">
    <a href="http://blogs.ucl.ac.uk/research-software-development/" class="person">James
    Hetherington</a> leads the Research Software Development
    Team at University College London. The team collaborates with
    research groups to create readable, reliable and efficient
    scientific software. He has experience as a scientific programmer
    in academia and industry on physics, physiology and climate.
</p>
