<p id="hetrick_ashley" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/hetrick_ashley.jpg' alt='Ashley Hetrick' />">
<span class="person">Ashley Hetrick</span> has graduate degrees in Information Sciences, Education, and English. She currently works as research support staff at the University of Illinois at Urbana-Champaign, and has held positions doing AV/IT support and IT communications. Ashley has experience in data analytics, designing and building relational databases, and scripting. She helps researchers use data to tell more accurate and compelling stories about their work, their fields, and the world. </p>


