<p id="hidding_johan" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/hidding_johan.jpg' alt='Johan Hidding' />">
<span class="person">Johan Hidding</span> is a research software engineer at the 
Netherlands eScience Center in Amsterdam, where he works with research groups in physics, 
chemistry, biology and climatology. Before that he worked on the geometry of structure 
formation in the Universe at the University of Groningen. He is a passionate advocate for 
free software and open science. </p>
