<p id="ho_xavier" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ho_xavier.jpg' alt='Xavier Ho' />">
    <span class="person">Xavier Ho</span> is a curiosity-driven
    designer, researcher and software engineer. He currently works for
    CSIRO creating interactive data visualisations. Pursuing a PhD
    part-time at University of Sydney keeps him busy, and sometimes he
    wonders about machines and humans and that philosophical
    lot. Previously, Xavier worked in a Sydney startup doing computer
    vision work, freelanced as a videographer, and taught a handful of
    programming classes to university design students. His passion
    lies somewhere in the spectrum of chocolates, video games, and a
    better world.
</p>
