<p id="hodges_toby" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/hodges_toby.jpg' alt='Toby Hodges' />">
    <span class="person">Toby Hodges</span>
    is a bioinformatician and community coordinator in
    the <a href="http://www.embl.de/research/units/scb/zeller/index.html">Zeller
    Team</a> at EMBL Heidelberg. He provides training and consultancy
    to community members and develops resources and tools to support
    computational biology at EMBL and beyond. He is also involved in
    organising the <a href="http://www.hub-hub.de">Heidelberg
    Unseminars in Bioinformatics</a> series.
</p>
