<p id="hojjati_alireza" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/hojjati_alireza.jpg' alt='Alireza Hojjati' />">
    <span class="person">Alireza Hojjati</span> is a postdoctoral
    fellow in the department of Physics and Astronomy at the
    University of British Columbia. He studies the origin and
    evolution of dark and visible matter in the universe through
    cosmological observations.  His research aims at utilizing the
    ongoing and next generation of cosmological surveys to investigate
    possible signatures of new physics.
</p>
