<p id="hoyt_peter" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/hoyt_peter.png' alt='Peter Hoyt' />">
    <span class="person">Peter R. Hoyt</span> has a PhD in Human
    Genetics and Cell Biology from the University of Texas Medical
    Branch in Galveston, TX. He spent 15 years at the Oak Ridge National
    Laboratory in Oak Ridge, TN, re-inventing himself through mouse
    genomics, scanning microscopy, and bioinformatics. He is now
    Graduate Program Director for the Bioinformatics Certificate at
    Oklahoma State University where he has 11-years of workshop
    experience through the Bioinformatics Core Facility, and works
    closely with the HPCC.  
</p>