<p id="ismiraldi_yuandra" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ismiraldi_yuandra.jpg' alt='Yuandra Ismiraldi' />">
    <span class="person">Yuandra Ismiraldi</span> is a student in the
    Master of Development Studies program in the University of
    Melbourne. Previously, he worked as a data engineer and consultant
    in the international development sector. His research interest is
    on how big data can help create better public policy. He is part
    of the Research Bazaar program in the University of Melbourne and
    teaches data collection tools, OpenRefine, and NLTK.
</p>
