<p id="jacobs_christian" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/jacobs_christian.jpg' alt='Christian Jacobs' />">
    <a href="http://christianjacobs.uk" class="person">Christian Jacobs</a>
    is a postdoctoral researcher in the Faculty of Engineering and the Environment at the University of Southampton. His research is primarily in
    the field of computational fluid dynamics, and currently focusses
    on multiphase flow modelling and the automated solution of
    partial differential equations using code generation. In addition to
    research, he thoroughly enjoys teaching and open-source software
    development, particularly with Python.
</p>
