
<p id="jedrzejewska-szmek_joanna" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/jedrzejewska-szmek_joanna.jpg' alt='Joanna Jędrzejewska-Szmek' />">
<span class="person">Joanna Jędrzejewska-Szmek</span> is a computational neuroscientist interested in understanding molecular mechanisms underlying learning and memory. She mainly works with models of calcium dynamics and signaling pathways in synaptic plasticity. She is a postdoc in a dual experimental and computational lab in Krasnow Institute at George Mason University, that uses Python as the main data analysis tool. </p>

