<p id="ji_bo" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ji_bo.jpg' alt='Bo Ji' />">
    <span class="person">Bo Ji</span> is a postdoc in computational
    biology and bioinformatics at the Jackson Laboratory. She conducts
    research focused on large-scale association of genomic and genetic
    data to understand the molecular mechanisms that regulate human
    diseases. She obtained a Ph.D. in Animal Science and an M.S. in
    Statistics (University of Tennessee, Knoxville).
</p>
