
<p id="jiang_lingling" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/jiang_lingling.jpg' alt='Lingling Jiang' />">
<span class="person">Lingling Jiang</span> is a postdoctoral research scientist in systems biology at Columbia University. Her background is in applied mathematics and computational biology. She is currently working on developing computational models to characterize and predict the relationship between gene sequence and molecular phenotype using up-to-date machine learning methods. Her long term research interest is in application of computational models to study human disease and aid drug design. </p>

