<p id="kajic_ivana" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/kajic_ivana.jpg' alt='Ivana Kajić' />">
    <span class="person">Ivana Kajić</span> is a PhD student in
    Computer Science at University of Waterloo and Plymouth
    University. She investigates biologically constrained algorithms
    of cognitive functions related to semantic memory and problem
    solving using spiking neural networks. Apart from programming
    computers and robots she also enjoys teaching programming.
</p>
