<p id="kazmi_saira" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/kazmi_saira.jpg' alt='Saira Kazmi' />">
    <span class="person">Saira Kazmi</span> is currently working as
    the Scientific Data Architect for the Research Information 
    Technologies group at <a href="https://www.jax.org/">The Jackson
    Laboratory for Genomic Medicine</a> in Farmington,
    Connecticut. She loves working with high dimensional data; and
    enjoys designing and implementing solutions for problems that are
    associated with generating, storing and analyzing large amounts of
    data. She received her Ph.D. in Computer Science with a focus in
    Bioinformatics from the University of Connecticut and her post
    doctoral training in Medical Informatics is from Yale University.
</p>
