<p id="keane_jonathan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/keane_jonathan.jpg' alt='Jonathan Keane' />">
    <span class="person">Jonathan Keane</span> is a Data Scientist at
    Mattersight, where he develops software and predictive models to
    improve interactions at call centers. Previously, he got a PhD in
    Linguistics from the University of Chicago with a focus on the
    phonetics of signed languages and laboratory methods in
    linguistics. He has a passion for developing software to not only
    help get a job done, but to do it in a way that is reproducible,
    reliable, and easy to understand.
</p>
