<p id="ketcheson_david" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ketcheson_david.jpg' alt='David Ketcheson' />">
    <span class="person">David Ketcheson</span> is an Associate
    Professor of Applied Mathematics at King Abdullah University of
    Science and Technology in Saudi Arabia.  He is an advocate for
    reproducible research, affordable and accessible scientific
    publishing, and recognizing the value of software in science.  He
    studies numerical discretizations of differential equations.
</p>
