<p id="kiesling_kalin" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/kiesling_kalin.jpg' alt='Kalin Kiesling' />">
    <span class="person">Kalin Kiesling</span> is a PhD student at the
    University of Wisconsin-Madison pursuing a degree in nuclear
    engineering and engineering physics. She studies computational
    nuclear engineering which focuses on developing software for
    nuclear engineering applications, in particular radiation
    transport. Kalin is interested in helping other students learn
    about best practices for software development.
</p>
