<p id="kintsakis_athanassios" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/kintsakis_athanassios.jpg' alt='Athanassios Kintsakis' />">
    <span class="person">Athanassios Kintsakis</span> is an Electrical
    and Computer Engineering graduate and currently a Ph.D. student at
    the Aristotle University of Thessaloniki on the field of
    optimizing workflow parallelization. He is currently employed as a
    software engineer and researcher and his scientific interests lie
    across high performance computing in a cloud environment, big data
    analytics, workflow optimization, machine learning applied in data
    mining and bioinformatics.
</p>
