<p id="klerke_sigrid" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/klerke_sigrid.jpg' alt='Sigrid Klerke' />">
    <span class="person">Sigrid Klerke</span> is a PhD student at
    University of Copenhagen. She has a background in reading research
    and now studies how eye tracking data can improve natural language
    processing tools. This allows her to run experiments on both
    humans and computers. Her computational work is powered by Python,
    Git and the Unix shell.
</p>
