<p id="knuth_shelley" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/knuth_shelley.jpg' alt='Shelley Knuth' />">
    <span class="person">Shelley Knuth</span> is the Assistant
    Director of Research Data and Training at the University of
    Colorado Boulder.  She currently works on assisting researchers on
    campus with their data and training needs.  Previously, she spent
    twelve years as a soft money scientist working on atmospheric
    science issues in the Antarctic.
</p>
