<p id="konovalov_alexander" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/konovalov_alexander.jpg' alt='Alexander Konovalov' />">
    <span class="person">Alexander Konovalov</span> is a Senior
    Research Fellow in
    the <a href="http://www-circa.mcs.st-and.ac.uk/">Centre for
    Interdisciplinary Research in Computational Algebra</a> and one of
    the developers of the open-source mathematical software system
    called <a href="http://www.gap-system.org/">GAP</a>. He is
    involved in multiple aspects of GAP development, technical support
    and user training, especially through his participation in
    the <a href="http://www.codima.ac.uk/">CoDiMa</a> and
    <a href="http://opendreamkit.org/">OpenDreamKit</a> projects. He is
    a Fellow of the <a href="https://www.software.ac.uk/">Software Sustainability
    Institute</a> and an editor of the
    <a href="http://msp.org/jsag/about/cover/cover.html">Journal of Software for Algebra and
    Geometry</a> and the
    <a href="http://openresearchsoftware.metajnl.com/">Journal of Open
    Research Software</a>.
</p>
