<p id="koontz_michael" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/koontz_michael.jpg' alt='Michael Koontz' />">
    <span class="person">Michael Koontz</span> is a PhD student in
    ecology at the University of California, Davis. He studies how
    heterogeneous spatial patterns of vegetation affect forest
    resilience to wildfires and bark beetle outbreaks. He works in R
    and Google Earth Engine, and is really excited by the challenge of
    teaching programming to folks that don’t know where to begin.
</p>
