<p id="kumar_avishek" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/kumar_avishek.jpg' alt='Avishek Kumar' />">
    <span class="person">Avishek Kumar</span> is a postdoctoral
    researcher at Arizona State University. He received his PhD from
    Arizona State University. His research interests include
    condensed-matter physics, biophysics, genomic and personalized
    medicine. He greatly enjoyed and benefited from Software Carpentry
    workshops as a student and is excited to pass along these skills
    to others.
</p>
