<p id="kuzak_mateusz" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/kuzak_mateusz.jpg' alt='Mateusz Kuzak' />">
    <a href="https://github.com/mkuzak" class="person">Mateusz Kuzak</a>
    is eScience Research Engineer working at the Netherlands eScience
    Center. He has background in bioinformatics and live cell imaging,
    and is passionate about Open Source, teaching and Web. He is
    currently working on various research software, programming mostly
    in R, Python and Javascript.
</p>
