<p id="lagesen_k" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/lagesen_k.jpg' alt='Karin Lagesen' />">
    <span class="person">Karin Lagesen</span> has a PhD in
    bioinformatics and has since focused on the processing of high
    throughput sequencing data in various forms. With a background in
    both computational science and molecular biology, she has taught
    programming and computational analysis to both master and PhD
    students and believes that this should be an integral part of any
    biologist's toolbox.
    <br/>
    <strong>Instructor Trainer</strong>
    <br/>
    <strong>Steering Committee (2016 Vice-Chair, 2015 Secretary)</strong>
</p>
