<p id="lant_jeremiah" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/lant_jeremiah.jpg' alt='Jeremiah Lant' />">
    <span class="person">Jeremiah Lant</span>
    is a Hydrologist for the U.S. Geological Survey (USGS) at the
    Kentucky Water Science Center in Louisville, Kentucky.  His work
    includes hydrodynamic and hydrologic modeling with an emphasis on
    flood-inundation modeling.  He enjoys rock climbing, teaching,
    programming, and sharing a passion for open science and open
    software.
</p>
