<p id="ledezma-tejeida_daniela" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ledezma-tejeida_daniela.jpg' alt='Daniela Ledezma' />">
<span class="person">Daniela Ledezma</span> is a PhD student in Computational Genomics at the National Autonomous University of Mexico (UNAM), where she studies the interplay between transcriptional regulation and metabolism in bacteria. She has taught a bioinformatics course for first year undergraduates for 6 years, and is also a yoga instructor. Both in science and yoga, she loves the challenge of teaching novices in the subject.
 </p>


