<p id="lee_allen" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/lee_allen.jpg' alt='Allen Lee' />">
<span class="person">Allen Lee</span> is a computer scientist and full stack software 
engineer building cyberinfrastructure for computational social science at Arizona State 
University since 2006. He led the initial development of <a 
href="https://www.tdar.org">the Digital Archaeological Record</a> and currently co-directs 
<a href="https://www.comses.net">the Network for Computational Modeling in the 
Social-Ecological Sciences</a>, part of the <a 
href="https://westbigdatahub.org">NSF West Big Data Hub</a>. He received his MSc from Indiana University - 
Bloomington in Computer Science / Informatics and his current research interests include 
collective action,  complex adaptive systems, open science, and reproducibility insofar as 
it aids reuse and the overarching goals of science as a transparent, evidence-based and 
self-correcting institution.
 </p>
