<p id="leeman_john" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/leeman_john.jpg' alt='John Leeman' />">
    <span class="person">John Leeman</span> is a geoscience
    researcher and scientific instrumentation consultant dealing with
    making difficult measurements in the earth science and helping
    scientists interpret them. He received a B.S. in meteorology and
    in geophysics from the University of Oklahoma and is a
    Ph.D. Candidate at The Pennsylvania State University in
    geoscience.
</p>
