<p id="leng_joanna" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/leng_joanna.jpg' alt='Joanna Leng' />">
    <span class="person">Joanna Leng</span> has moved between working
    on high performance computing support and research projects for
    almost 20 years. She has a wide variety of experience in a number
    of disciplines and enjoys working in cross-disciplinary teams. She
    is an expert in visualization and is particularly good at working
    with 3D data and models; she has a strong interest in all areas of
    computational science.
</p>
