<p id="levernier_jacob" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/levernier_jacob.jpg' alt='Jacob Levernier' />"> <span class="person">Jacob Levernier</span>  holds a PhD in Personality and Social Psychology from the University of Oregon. He is currently the CLIR Bollinger Postdoctoral Fellow in Library Innovation at the University of Pennsylvania. His interest in scientific computing centers on data management and workflow automation, both in the social sciences and related disciplines, including library science. </p>


