<p id="ligtenberg_willem" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ligtenberg_willem.jpg' alt='Willem Ligtenberg' />">
    <span class="person">Willem Ligtenberg</span> is a biomedical
    engineer by training, now working as a data scientist at
    Dr. Reddy's in Leiden. Previously, he worked as a
    bioinformatics/biostatistics consultant and has gained a lot of
    experience analysing data from various sources. He specifically
    likes to think about how to increase the performance. He is the
    author of ROpenCL, Rango and the author/maintainer of the
    reactome.db bioconductor package.
</p>
