<p id="lotterhos_kathleen" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/lotterhos_kathleen.jpg' alt='Kathleen Lotterhos' />">
    <span class="person">Kathleen Lotterhos</span> is an evolutionary
    geneticist and molecular ecologist.  A central goal in her
    research is to understand how populations will respond both
    ecologically and evolutionarily to environmental change.  To
    address these pressing issues in biological science, she uses a
    combination of field surveys, experiments, mathematical modeling,
    genomics, and bioinformatics.
</p>
