<p id="lowndes_julia" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/lowndes_julia.jpg' alt='Julia Lowndes' />">
    <span class="person">Julia Lowndes</span> is a marine scientist
    practicing and promoting open science. She earned her PhD at
    Stanford University studying the behavior of Humboldt squid, and
    is now at NCEAS and the University of California, Santa Barbara
    with the Ocean Health Index, which is applied marine science at
    the interface of innovative scientific methods, open science
    tools, and coastal management.
</p>
