<p id="manhaes-savio_alexandre" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/manhaes-savio_alexandre.png' alt='Alexandre Manhaes Savio' />">
    <span class="person">Alexandre Manh&atilde;es Savio</span> is a
    post-doctoral researcher doing software engineering and data
    analysis in the Nuclear Medicine Department of the Klinikum rechts
    der Isar of the Technische University München, where he develops
    tools for brain PET-MR image processing and diagnosis. He received
    his PhD in machine learning in the University of the Basque
    Country, Spain, and is a co-founder of
    <a href="http://pyss.org/">ACPySS</a>, a local Basque non-profit
    free software organization. He has been on the board of the
    EuroPython Society since 2015 and co-organized EuroPython 2015 and
    EuroPython 2016.
</p>
