<p id="marconi_sergio" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/marconi_sergio.jpg' alt='Sergio Marconi' />">
    <span class="person">Sergio Marconi</span> is a Ph.D student in
    Interdisciplinary Ecology at University of Florida. He is studying
    how combination of plant functional traits may explain vegetation
    structure across scales, how to forecast their dynamics with
    global change, in order to predict ecosystems services and
    resource availability. To do so, he is interested in using NEON
    airborne data to develop a generalized hybrid hierarchical model.
</p>
