<p id="marek_diana" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/marek_diana.jpg' alt='Diana Marek' />">
    <span class="person">Diana Marek</span> holds a PhD in
     Bioinformatics and Biostatistics from the University of
     Lausanne. She was involved in Statistical Genomics research at
     the SIB Swiss Institute of Bioinformatics, and now works at SIB,
     where she is involved in scientific collaborations, teaching
     bioinformatics for postgraduates, as well as in coordinating
     training and outreach activities, such as scientific fairs,
     conferences, seminars and workshops for the layperson as well as
     for scientists.
</p>
