<p id="martin-cerezo_maria-luisa" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/martin-cerezo_maria-luisa.jpg' alt='Maria Luisa Martin Cerezo' />">
<span class="person">Maria Luisa Martin Cerezo</span> is a PhD student in the Evolutionary genomics group at the University of Huddersfield, in north England. Her work focuses on using high-throughput whole-genome genotyping to explain the phylogeographic history of two common Palearctic rodents. She was a Software Carpentry student at the beginning of 2016. Now she uses R and the Unix shell to analyze her data. </p>


