<p id="masakuna_jordan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/masakuna_jordan.jpg' alt='Jordan Masakuna' />">
    <span class="person">Jordan Masakuna</span> is a computer
    scientist and a current Ph.D student in Computer Science at
    Stellenbosch University (South Africa). He completed a Master's in
    Mathematical Sciences at Stellenbosch University, and
    undergraduate and postgraduate degrees in Computer Science from
    University of Kinshasa (D.R. Congo). I worked as a software
    developer and network administrator at Agence Congolaise des
    Grands Travaux (DR. Congo), and as a teaching assistant at
    University of Kinshasa for 3 years. His research areas are Machine
    Learning, Fusion Data Techniques, Big Data, Random Graphs,
    Modelling, Design Space, Programming and High Performance
    Computing.
</p>
