<p id="mashchenko_sergey" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mashchenko_sergey.jpg' alt='Sergey Mashchenko' />">
    <span class="person">Sergey Mashchenko</span>
    is a high performance computing analyst in the supercomputing
    consortium SHARCNET (Ontario, Canada) with a research background
    in computational astrophysics and cosmology. He is a lead in
    SHARCNET's Training and Outreach team, and has been teaching
    graduate and HPC Summer School courses on CUDA, MPI, and OpenMP
    for a number of years.
</p>
