<p id="matienzo_mark" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/matienzo_mark.jpg' alt='Mark A. Matienzo' />">
<span class="person">Mark A. Matienzo</span> is the Collaboration & Interoperability 
Architect in Digital Library Systems and Services at the Stanford University Libraries, 
serving as a technologist, advocate, and facilitator for cross-institutional projects. 
Prior to joining Stanford, Mark worked as an archivist, technologist, and strategist 
specializing in born-digital materials and metadata management, at institutions including 
the Digital Public Library of America, Yale University Library, The New York Public 
Library, and the American Institute of Physics. Mark received a MSI from the University 
of Michigan School of Information and a BA in Philosophy from the College of Wooster, and 
was a recipient of the Emerging Leader Award from the Society of American Archivists in 
2012. </p>
