<p id="may_ryan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/may_ryan.jpg' alt='Ryan May' />">
    <span class="person">Ryan May</span> is a software engineer at
    Unidata, part of the University Corporation for Atmospheric
    Research (UCAR), working on python software and training for the
    atmospheric science community. He is the core developer of the
    MetPy and Siphon Python packages, as well as a member of the
    development team for the matplotlib Python visualization
    library. He received his B.S., M.S., and Ph.D. in meteorology from
    the University of Oklahoma.
</p>
