<p id="mayer_fernando" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mayer_fernando.jpg' alt='Fernando Mayer' />">
    <span class="person">Fernando Mayer</span> is an Associate
    Professor in the Statistics Department at the Federal University
    of Paraná, Brazil. Originally, he have a bachelor degree in
    Oceanography with a master’s degree in Ecology, and now he is a
    Ph.D. candidate in Statistics & Experimentation at São Paulo
    University. He is a member of the
    <a href="http://www.leg.ufpr.br">Geoinformation and Statistics
    Laboratory</a> (LEG), where he deals with statistical spatial
    models applied to environmental and ecological problems, specially
    those dealing with marine fisheries resources.
</p>
