<p id="mcclung_bill" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mcclung_bill.jpg' alt='Bill Mcclung' />">
    <span class="person">Bill McClung</span> is an emeritus professor
    of computer science at Nebraska Wesleyan University. Prior to NWU
    he taught both mathematics and computer science at California
    State University, San Bernardino and the University of San
    Francisco. In between academic gigs, he worked for Hewlett-Packard
    Labs as member of the technical staff.
</p>
