<p id="mcclatchy_sue" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mcclatchy_sue.jpg' alt='Sue McClatchy' />">
    <span class="person">Sue McClatchy</span>
 is a bioinformatician and research program manager at the Jackson Laboratory. She provides research training at all academic levels from high school to faculty. She mentors students and develops training materials for analysis of quantitative and high-throughput data. Her expertise in curriculum design and instruction stems from an eight-year science teaching career in schools in the U.S. and Latin America. 
</p>
