<p id="mccloy_daniel" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mccloy_daniel.jpg' alt='Daniel McCloy' />">
    <a href="http://dan.mccloy.info" class="person">Daniel McCloy</a>
    is a postdoctoral researcher in the Institute for Learning and
    Brain Sciences at the University of Washington in Seattle. His
    research centers around human speech perception, especially the
    processing and categorization of individual speech sounds and
    syllables. He writes open-source software in python and R for
    (among other
    things) <a href="https://github.com/LABSN/expyfun">running
    auditory psychophysics experiments</a> and
    <a href="https://github.com/drammock/phonR">visualizing vowel
    spaces</a>.
</p>
