<p id="meloro_susie" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/meloro_susie.jpg' alt='Susie Meloro' />">
<span class="person">Susie Meloro</span> is a Business Technical Analyst on the Research Computer Support Services team at the University of Missouri – Columbia. She supports the campus HPC research cluster that is utilized by faculty, students, and collaborators for computing, storage, and network needs on campus and across the region. She excels at untangling policy and requirements, finding eloquent solutions for researchers, and drives large team projects. </p>


