<p id="menegon_stefano" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/menegon_stefano.jpg' alt='Stefano Menegon' />">
    <span class="person">Stefano Menegon</span> is a geospatial
    information scientist and a geographical web developer,
    specialized in collaborative geospatial web applications, spatial
    data infrastructures, OGC standards, data sharing strategies, GIS
    analysis, geostatistics, geodatabase and complex data integration.
    He is an Environmental Engineer, holds a Ph.D. in New Technologies
    for the Environment, co-founder of MPA Solutions (an FBK spin-off)
    and Research Fellow by the Institute of Marine Science of the
    National Research Council of Italy.
</p>
