<p id="mickley_james" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mickley_james.jpg' alt='James Mickley' />">
    <span class="person">James Mickley</span> is a botanist and
    currently a PhD candidate at the University of Connecticut.  He is
    captivated by why so many plants have five-petaled flowers and is
    interested in what has driven petal number evolution.  He has long
    enjoyed coding and also loves logging plant observations on
    <a href="http://www.inaturalist.org/people/mickley">iNaturalist</a>
    while sampling the edible ones.
</p>
