<p id="milhans_jackie" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/milhans_jackie.jpg' alt='Jackie Milhans' />">
    <span class="person">Jackie Milhans</span> currently manages the
    support services team for Research Computing, including computing,
    data storage, and visualization at Northwestern University. Her
    background is in computational materials science, including
    homogenization, molecular dynamics, and multi-scale modeling. She
    is passionate about adventure travel, especially backpacking,
    hiking, scuba, and enjoying new cuisines.
</p>
