<p id="miller_mark" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/miller_mark.jpg' alt='Mark Miller' />">
<span class="person">Mark Miller</span> has 25+ years experience with scientific data and software interoperability, HPC software quality engineering, Scalable I/O and Scientific Visualization. Mark's interests
and expertise includes data models and their impact on software interoperability, high
performance I/O and  more recently, in-situ data exchanges and application of Big Data
technology for HPC data analysis. </p>

