<p id="mills_b" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mills_b.jpg' alt='Bill Mills' />">
    <span class="person">Bill Mills</span> is a freelance scientific
    software developer and open science advocate, currently at TRIUMF,
    Canada's national lab for nuclear and particle physics. Bill sits
    on the 2016 Software Carpentry Steering Committee, and has been 
    teaching for SWC since early 2014. He divides his time between
    Vancouver and New York City.
    <br/>
    <strong>Steering Committee (Treasurer)</strong>
</p>
