<p id="millar_justin" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/millar_justin.jpg' alt='Justin Millar' />">
<span class="person">Justin Millar</span><a href="http://justinmillar.com/">(http://justinmillar.com/)</a> is a PhD student at the University of Florida. His research focuses on using Bayesian approaches to model malaria dynamics in sub-Saharan Africa and promote data-driven decision making. Justin also a co-manager of the UF R Meetups <a href="www.r-gators.com">(www.r-gators.com)/</a>. </p>


