<p id="mitchell_nora" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mitchell_nora.jpg' alt='Nora Mitchell' />">
    <span class="person">Nora Mitchell</span> is a PhD student at the
    University of Connecticut. Her research focuses on the ecology and
    evolution of plants in South Africa, particularly on the potential
    drivers of diversification at different taxonomic and spatial
    scales. She is interested in using (and teaching) the quantitative
    programming skills to connect naturalist intuition with
    statistical rigor.
</p>
