
<p id="mizzi_jessica" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mizzi_jessica.jpg' alt='Jessica Elizabeth Mizzi' />">
<span class="person">Jessica Elizabeth Mizzi</span> is a graduate student at UC Davis Microbiology Graduate Group in the lab of Dawn Sumner. She studies interesting metabolism of microbial mats found in Antarctic lakes using metagenomics. She is especially interested in the relationship between environmental conditions and cellular processes, such as photosynthesis. </p>

