<p id="mohr_christian-wilhelm" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/mohr_christian-wilhelm.jpg' alt='Christian Mohr' />">
    <span class="person">Christian Mohr</span> is a Ph.D. candidate in
    environmental and analytical chemistry at the University of
    Oslo. His main research is focused on improving our understanding
    of biogeochemical and photochemical processes governing the
    mobilization and degradation of phosphorus compounds and natural
    organic matter in the environment. A large part of his work
    involves utilising R for data processing and statistical analysis.
</p>
