
<p id="moncrieff_glenn" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/moncrieff_glenn.jpg' alt='Glenn Moncrieff' />">
<span class="person">Glenn Moncrieff</span> is an ecologist at the Fynbos node of the South African Environmental Observation Network interested in using technology to aid research and produce solutions to environmental problems. He tries to use fancy techniques like artificial intelligence or Bayesian statistics, but sometimes a quadrat and a pencil are the best tools for the job. In his free time he tries to spread the gospel of data literacy and impart transferrable data science skills to researchers in Africa. </p>


