<p id="morrell_thomas" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/morrell_thomas.jpg' alt='Thomas Morrell' />">
    <span class="person">Thomas Morrell</span> is a research data
    specialist at the Caltech Library.  He manages the Caltech
    research data repository and works with researchers to preserve
    and share their results.  He has a background in computational
    chemistry and has experience developing scientific software in
    Python and managing high performance computing systems.
</p>
