<p id="moyers_brook" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/moyers_brook.jpg' alt='Brook Moyers' />">
    <span class="person">Brook T. Moyers</span> studies evolutionary
    ecology and genetics of plants, especially crops and their wild
    relatives. She received her PhD in "Botany" from the University of
    British Columbia in Vancouver, BC, although a lot of of her work
    involved large files of genomic sequence data rather than the
    plants themselves. She's currently a NSF National Plant Genome
    Initiative postdoctoral fellow based at Colorado State University,
    where she continues to enjoy spending a lot of time outdoors.
</p>
