
<p id="muller_tomas" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/muller_tomas.jpg' alt='Tomás Müller' />">
<span class="person">Tomás Müller</span> is originally from Chile, but right now he is doing a PhD in Astronomy (studying Supernovae Type Ia specifically!) at the University of Southampton, UK. 
Astronomy involves a lot of coding which he does mostly in Python, however, he also uses Unix Shell quite often. As a researcher, he usually create his own codes and using Git for version 
control makes life easier. This is why he is fairly confident teaching Python, Unix shell and Git, but he is also open to learning new ways of doing computer science since it is part of his daily work, and hopefully in the future, teaching them as 
well. </p>
