<p id="munk_madicken" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/munk_madicken.jpg' alt='Madicken Munk' />">
    <span class="person">Madicken Munk</span> is a PhD student in
    Nuclear Engineering at the University of California --
    Berkeley. Her current research focuses on developing computational
    methods for analyzing nuclear systems, specifically for highly
    anisotropic, heavily shielded problems. She is interested in
    creating approachable and sustainable software tools for nuclear
    engineers.
</p>
