<p id="nandez_jose" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/nandez_jose.jpg' alt='Jose Nandez' />">
    <span class="person">Jose Nandez</span> did his PhD in
    Computational Astrophysics at the University of Alberta,
    Canada. He did his undergrad in Applied Math and Computer
    Sciences. His passion for computer coding, physics and mathematics
    led him to follows a data science path. He currently works as a
    data scientist for SHARCNET (Shared Hierarchical Academic Research
    Computing NETwork) part of Compute Canada, and he is based at the
    University of Western Ontario.
</p>
