<p id="neeb_moritz" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/neeb_moritz.jpg' alt='Moritz Neeb' />">
    <span class="person">Moritz Neeb</span> is studying computer
    science in a Master Programme at TU Berlin, where his interest is
    mainly in Machine Learning and it's applications to Biology and
    Medicine. He is applying this knowledge by hacking mainly Python
    at <a href="http://idalab.de">idalab</a>, a data analysis
    agency. In his freetime he likes to enjoy Berlins cultural life,
    for example through swing dancing or theater visits.
</p>
