<p id="ngo_linh" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ngo_linh.jpg' alt='Linh Ngo' />">
    <span class="person">Linh B. Ngo</span> is the Director of Data
    Science division, Clemson University's Cyberinfrastructure and
    Technology Integration group. He holds a Ph.D. in Computer Science
    and is interested in all computational and data-enabled
    research. Linh is currently taking courses in Learning Sciences to
    better understand how computing skills, including system and
    programming, can be integrated into undergraduate curriculums
    across all disciplines.
</p>
