<p id="norris_timothy" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/norris_timothy.jpg' alt='Timothy Norris' />">
    <span class="person">Timothy Norris</span> is a Council of Library
    and Information Resources Fellow in Data Curation at the
    University of Miami Libraries where he works on technical and
    human aspects of problems in research data management. He holds a
    PhD in Environmental Studies (a.k.a. Geography) from the
    University of California Santa Cruz (UCSC). In a prior life he
    started and maintained a small development NGO based on social
    justice and conservation in the Andes of Peru.
</p>
