<p id="odell_allison-jai" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/odell_allison-jai.jpg' alt='Allison Jai Odell' />">
    <span class="person">Allison Jai O'Dell</span> is the Metadata
    Librarian for the University of Florida, George A. Smathers
    Libraries, where she focuses on data modeling, wrangling, and
    hygiene.  Her side projects and publications target thesaurus and
    ontology design, front-end development for libraries and archives,
    and Linked Data education.
</p>
