<p id="oliver_jeffrey" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/oliver_jeffrey.jpg' alt='Jeffrey Oliver' />">
    <span class="person">Jeffrey Oliver</span> is the
    Bioinformationist at the University of Arizona Health Sciences
    Library.  His domain knowledge is in phyloinformatics and
    population genetics, his skills include programming in R and
    python, and he thinks he understands git after using it for four
    years.  He is currently working to make computational literacy
    ubiquitous in the life sciences and sometimes cannot believe his
    good fortune to be living in Tucson.
</p>
