<p id="oneil_shawn" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/oneil_shawn.jpg' alt='Shawn ONeil' />">
    <span class="person">Shawn O'Neil</span> s a Bioinformatics
    Trainer and Manager of the Advanced Cyberinfrastructure Teaching
    Facility at the Center for Genome Research and Biocomputing at
    Oregon State University. With a background in computer science,
    his research focuses on bioinformatics, including ecological
    informatics, transcriptomics, algorithms, and software
    development. He’s developed and taught several courses in
    computational biology and programming, and is the author of <em>A
    Primer for Computational Biology</em> (in press with OSU Press).
</p>
