<p id="orendt_anita" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/orendt_anita.jpg' alt='Anita Orendt' />">
    <span class="person">Anita Orendt</span>
    is an Assistant Director at
    the <a href="https://www.chpc.utah.edu">Center for High
    Performance Computing</a>, University of Utah, focusing on Faculty
    engagement and research consulting.  In this position she oversees
    the faculty collaboration efforts of CHPC staff members and acts
    as the point person for communication with the CHPC user
    community. In addition she provides general user support and
    training.  Anita has a PhD in Physical Chemistry, and consults
    with users of the computational chemistry software at the Center.
    She is an <a href="https://www.xsede.org/campus-champions">XSEDE
    Campus Champion</a> for the University of Utah, part of the NSF
    funded <a href="https://aciref.rc.fas.harvard.edu">ACIREF
    Program</a> and an adjunct associate professor in the Department
    of Chemistry.
</p>
