<p id="peek_ryan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/peek_ryan.jpg' alt='Ryan Peek' />">
    <span class="person">Ryan Peek</span> works as an aquatic
    ecologist at the Center for Watershed Sciences at UC Davis. He is
    currently a PhD candidate in Ecology/Genetics, studying amphibians
    and spatial and temporal effects of anthropogenic and
    environmental change on river ecosystems. He is part of the Davis
    R Users Group, dad of two awesome kids, whitewater rafting guide,
    avid soccer player, and professional beard wearer.
</p>
