<p id="peterson_matthew" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/peterson_matthew.jpg' alt='Matthew Peterson' />">
    <span class="person">Matthew Peterson</span> is a Faculty Research
    Assistant at the Oregon State University <a href = "http://cgrb.oregonstate.edu/">Center for Genome
    Research and Biocomputing</a>. Matthew develops bioinformatics
    processing pipelines for the Center's Illumina, PacBio, and
    Genotyping by Sequencing services, as well as data management
    strategies. As a <a href="http://cgrb.oregonstate.edu/training">CGRB Bioinformatics Trainer</a>, he helps researchers
    learn the bioinformatic basics through workshops, user groups, and
    one-on-one training.
</p>
