<p id="peterson_matthew" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/peterson_matthew.jpg' alt='Matthew Peterson' />">
    <span class="person">Matthew Peterson</span> is a Faculty Research
    Assistant at the Oregon State University Center for Genome
    Research and Biocomputing. Matthew develops bioinformatics
    processing pipelines for the Center's Illumina, PacBio, and
    Genotyping by Sequencing services, as well as data management
    strategies. As a CGRB Bioinformatics Trainer, he helps researchers
    learn the bioinformatic basics through workshops, user groups, and
    one-on-one training.
</p>
