<p id="pierce_tessa" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/pierce_tessa.jpg' alt='Tessa Pierce' />">
    <span class="person">Tessa Pierce</span> is a PhD student at
    Scripps Institution of Oceanography (UCSD). Her work focuses on
    using high-throughput sequencing data to investigate the response
    of marine organisms to changes in environmental pH, oxygen and
    temperature. Tessa is enthusiastic about open science, outreach,
    teaching, and supporting diversity, equity, and inclusion in
    bioinformatics and marine science.
</p>
