<p id="pitchers_w" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/pitchers_w.jpg' alt='Will Pitchers' />">
    <span class="person">Will Pitchers</span> started life as a
    behavioural ecologist, worked in quantitative genetics and now
    finds himself in evolutionary genomics. He is currently a
    post-doctoral researcher in the electric fish lab at Michigan
    State University, focussing on the evolution of electrical
    communication in West-African elephantfishes.
</p>
