<p id="psomopoulos_fotis" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/psomopoulos_fotis.jpg' alt='Fotis Psomopoulos' />">
    <span class="person">Fotis Psomopoulos</span> is an Academic
    Fellow at the Aristotle University of Thessaloniki. His research
    interests lie across bioinformatics and the evolutionary analysis
    of genomes based on their protein data, data mining methods and
    techniques in order to analyse the vast amount of data involved,
    and grid and cloud computing in order to ensure the necessary
    computational power and to optimize the developed methods for
    large-scale approaches.
</p>
