<p id="ranjard_louis" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ranjard_louis.jpg' alt='Louis Ranjard' />">
    <span class="person">Louis Ranjard</span> is a computational
    biologist currently working at the Australian National University,
    Canberra. His research interests include the development of
    algorithms and statistical learning methods to tackle questions in
    evolutionary biology and bioinformatics. He maintains several
    software packages that implement Bayesian MCMC and machine
    learning methods for the analysis of large phylogeographic and
    bioacoustic datasets.
</p>
