<p id="read_emily" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/read_emily.jpg' alt='Emily Read' />">
    <a href="http://owi.usgs.gov/people/eread/" class="person">Emily
    Kara Read</a> is a scientist at the U.S. Geological Survey Office
    of Water Information in Madison, Wisconsin. Emily earned a
    Ph.D. in Environmental Engineering from the University of
    Wisconsin, Madison, an M.S. in Environmental Science from Indiana
    University, and a B.S. in Environmental Science from the
    University of Arizona. Emily is interested in national scale
    aquatic science; building scientists' capacity in reproducible and
    efficient workflows; interdisciplinary team science; and data
    visualization.
</p>
