<p id="riemer_kristina" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/riemer_kristina.jpg' alt='Kristina Riemer' />">
    <span class="person">Kristina Riemer</span> is a PhD student in
    the Wildlife, Ecology, and Conservation department at the
    University of Florida. She is a macroecologist with a focus on the
    responses of species traits to climate change. Because her work
    has benefited greatly from learning computational skills, she
    likes to pay it forward by introducing other scientists to these
    skills.
</p>
