<p id="rivera_ana" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/rivera_ana.jpg' alt='Ana Lucrecia' />">
<span class="person">Ana Lucrecia</span> is a GIS Analyst and Instructor at Stanford 
Geospatial Center and San Jose State University. She holds a degree on Architecture, a 
M.Sc. in Environmental Systems and a M.A. in Geography. She uses Geo-Information Systems 
and Remote Sensing to research on areas related to urban planning, such as the impact of 
cities on the environment, formation of urban heat islands, vulnerability assessments of 
human settlements, flood risk analysis, public policies and urban poverty. </p>
