<p id="rokem_a" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/rokem_a.jpg' alt='Ariel Rokem' />">
    <a href="http://arokem.org" class="person">Ariel Rokem</a>
    is a Data Scientist at the University of Washington eScience Institute,
    where he builds software tools to conduct reproducible scientific research
    and collaborates with scientists in a variety of fields. He received his
    PhD in Neuroscience at UC Berkeley at 2010, followed by a postdoctoral
    fellowship in Psychology at Stanford University.
    <br/>
    <strong>Instructor Trainer</strong>
</p>
