<p id="rosenfield_phil" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/rosenfield_phil.jpg' alt='Phil Rosenfield' />">
    <span class="person">Phil Rosenfield</span> is a NSF Astronomy and
    Astrophysics post-doctoral fellow at the Harvard-Smithsonian
    Center for Astrophysics. He uses the Hubble Space Telescope to
    observe stars in other galaxies in order to constrain stellar
    evolution models. Phil also creates and engages in programs that
    teach science while combating the exclusion of people based on
    race, economic status, and disability. While at the University of
    Washington he co-created a program to train PhD students to
    communicate their research to the public, and co-created a
    planetarium outreach program for Seattle Middle and High
    Schools. He now works with the WorldWide Telescope Ambassador
    program to create affordable digital planetariums in the Boston
    area.
</p>
