<p id="rosner_jamie" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/rosner_jamie.jpg' alt='Jamie Rosner' />">
    <span class="person">Jamie Rosner</span> is the Life Sciences
    Analyst for the Advanced Research Computing group at the
    University of British Columbia. He also serves as co-lead of the
    Compute Canada Bioinformatics National Team, and is a member of
    the Compute Canada National Software Carpentry Team. He holds
    bachelor degrees in Computer Science from the University of
    Waterloo and Sociology from the University of Manitoba.  Jamie
    worked at the Vancouver Prostate Centre in the mid-2000's, and has
    been involved since 2008 in bioinformatics, data management, and
    software development for (NGS) data in HPC cluster environments.
    Most recently, he worked at the BC Cancer Research Centre
    developing NGS analysis pipelines, data management and
    visualization solutions.
</p>
