<p id="russo_dan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/russo_dan.jpg' alt='Dan Russo' />">
    <span class="person">Dan Russo</span> is a PhD student at Rutgers
    University studying Computational and Integrative Biology.  His
    current research involves the application of Machine Learning and
    Data Mining in the fields of pharmacology and toxicology.  He has
    a strong passion for reading and discussing science of all
    disciplines, scientific communication, running, and Philadelphia
    Phillies baseball.
</p>
