<p id="salmon_malle" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/salmon_malle.jpg' alt='Maëlle Salmon' />">
<span class="person">Maëlle Salmon</span> <a href="http://www.masalmon.eu/">http://www.masalmon.eu/</a> is a statistician and data manager with experience working in public health and epidemiology. She completed a PhD in statistics after a MSc of theoretical ecology and modelling and a MPH. She's a co-editor at the rOpenSci onboarding system of R packages. She's lived and worked in several European countries and is excited to share programming skills with other scientists in Europe and elsewhere! </p>


