
<p id="ca" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/sandmann_thomas.jpg' alt='Thomas Sandmann' />">
<span class="person">Thomas Sandmann</span> originally trained as a biochemist, but quickly transitioned into the world of genomics and computational biology. After research at Genentech and Verily, he is now a Senior Scientist at Denali Therapeutics where he contributes to developing treatments for neurodegeneration. Thomas collects statistics textbooks and loves puns (probably a bit too much). </p>
