<p id="sanders_shane" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/sanders_shane.jpg' alt='Shane Sanders' />">
    <span class="person">Shane Sanders</span> is an HPC Systems
    Analyst at <a href="https://www.jax.org/">The Jackson
    Laboratory</a>.  His research interests include algorithm
    scalability, machine learning, genomics, proteomics, and
    evolutionary biology. He obtained a PhD in Molecular Biology
    (Mississippi State University), a B.S. in Biochemistry, a B.S. in
    Computer Science (both from Mississippi State University), and is
    currently completing a PhD in Computer Science (Mississippi State
    University).
</p>
