<p id="schmeier_sebastian" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/schmeier_sebastian.jpg' alt='Sebastian Schmeier' />">
    <a href="http://sschmeier.com" class="person">Sebastian
    Schmeier</a> is a research group leader and lecturer in
    bioinformatics/genomics at
    the <a href="http://inms.massey.ac.nz">Institute of Natural and
    Mathematical Sciences</a> at Massey University Auckland and a
    bioinformatics advisor to <a href="http://nzgenomics.co.nz">New
    Zealand Genomics Ltd</a>, a genomics service company. His group
    uses a combination of computational methods and biology to answer
    questions in the fields of genomics and transcriptomics, with a
    focus on gene regulation, non-coding RNAs, and data-driven
    biomedical applications. Besides research, Sebastian is also
    highly interested in the computational and bioinformatics
    up-skilling of students and scientists.
</p>
