<p id="schneider_juliane" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/schneider_juliane.jpg' alt='Juliane Schneider' />">
    <span class="person">Juliane Schneider</span> has had a long,
    weird career in data and libraries, from working as an insurance
    librarian on Wall Street, to designing databases for EBSCO, to
    working with ontologies and taxonomies to develop various tools
    for data discovery at NYU Medical Center and Countway Library,
    Harvard Medical School. She is currently Metadata Specialist for
    the Research Data Curation Program at UC San Diego, working with
    researchers to describe and organize their data for sharing,
    discovery and re-use.
</p>
