<p id="schoenrock_andrew" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/schoenrock_andrew.jpg' alt='Andrew Schoenrock' />">
    <span class="person">Andrew Schoenrock</span> is a postdoctoral
    researcher and high performance computing consultant at Carleton
    University. His main research interests include high performance
    parallel algorithms, computation biology, bioinformatics, and big
    data. He received his PhD in Computer Science from Carleton
    University in 2016.
</p>
