<p id="senyondo_henry" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/senyondo_henry.jpg' alt='Henry Senyondo' />">
    <span class="person">Henry Senyondo</span> is a data scientist and
    software developer for the Weecology lab at Univeristy of Florida.
    He is extremely passionate about open source technologies, and is
    a maintainer of the Data Retriever. He works on enhancing and
    supporting data-driven scientific discoveries in science. He is
    interested in machine learning, data analytics, knowledge
    representation, and statistics.
</p>
