<p id="shafquat_afrah" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/shafquat_afrah.jpg' alt='Afrah Shafquat' />">
    <span class="person">Afrah Shafquat</span> is a Computational
    Biology PhD candidate at Cornell University. She is interested in
    the development of computational and statistical tools for
    biomarker discovery for her graduate research work. Before coming
    to Cornell, she received an S.B. in Biological Engineering from MIT
    (Class of 2012).
</p>
