<p id="shaw_clara" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/shaw_clara.jpg' alt='Clara Shaw' />">
    <span class="person">Clara Shaw</span> is a PhD student at the
    University of Michigan studying the ecology and evolution of
    <em>Daphnia</em>-parasite interactions. She is particularly
    interested in how abiotic factors may alter these
    interactions. Clara got involved with Software and Data Carpentry
    two years ago by participating in a workshop for women in science
    at the University of Michigan.
</p>
