<p id="shiklomanov_alexey" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/shiklomanov_alexey.jpg' alt='Alexey Shiklomanov' />">
    <a href="http://ashiklom.github.io" class="person">Alexey
    Shiklomanov</a> is a Ph.D. Geography student at
    the <a href="http://bu.edu/earth">Boston University Department of
    Earth and Environment</a> advised by Michael Dietze. His research
    focuses on using airborne and satellite imagery to study forest
    composition, structure, and function. He is also a developer for
    the <a href="http://pecanproject.github.io">Predictive Ecosystem
    Analyzer</a> (PEcAn) project aimed at facilitating model-data
    synthesis for ecological forecasting.
</p>
