<p id="shkurti_ardita" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/shkurti_ardita.jpg' alt='Ardita Shkurti' />">
    <span class="person">Ardita Shkurti</span> is a Research Fellow at
    the School of Pharmacy of the University of Nottingham, funded by
    a joint EPRSC/NSF grant. She has a core expertise concerning
    Computer Science Engineering (BSc and MSc in Computer Science
    Engineering at respectively Università degli Studi di Modena e
    Reggio Emilia and Politecnico di Torino, and PhD in Information
    and Systems Engineering at Politecnico di Torino).  In particular,
    Ardita's research focuses on software and hardware optimization of
    algorithms applied to molecular dynamics simulation and molecular
    simulation data analysis.
</p>
