<p id="shriwise_patrick" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/shriwise_patrick.jpg' alt='Patrick Shriwise' />">
    <span class="person">Patrick Shriwise</span> works at the
    University of Wisconsin - Madison as a graduate student in the
    Engineering Physics department. He is currently doing research in
    improved methods for particle tracking in radiation transport
    simulations. His other computational interests include data
    visualization, mobile UI development, and discussing general
    software engineering topics.
</p>
