<p id="silva_raniere" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/silva_raniere.jpg' alt='Raniere Silva' />">
    <span class="person">Raniere Silva</span>
    has a BSc (Applied Mathematics) from the University of Campinas.
    He works for the Software Sustainable Institute and the University of
    Manchester trying to create a community around
    "Better Software, Better Research".
    <br/>
    <strong>Steering Committee (2016 Secretary, 2015 Member)</strong>
    <br/>
    <strong>Maintainer: tools</strong>
</p>
