<p id="smith_allison" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/smith_allison.jpg' alt='Allison Smith' />">
    <span class="person">Allison Smith</span> is a postdoctoral fellow
    in the eScience Institute and the School of Oceanography at the
    University of Washington. Her research focuses on understanding
    and predicting the distribution of species in coastal and open
    ocean ecosystems. She has additional interests in reproducibility
    and data visualization.
</p>
