<p id="smithyman_brendan" data-toggle="tooltip" 
title="<img src='{{site.filesurl}}/people/smithyman_brendan.jpg' alt='Brendan Smithyman' />">
    <span class="person">Brendan Smithyman</span> is a geophysicist and software developer, 
    currently working at 3point Science as Lead Backend Developer. Brendan continues to be 
    involved in research at the University of Western Ontario, where he authored Zephyr 
    (an open source seismic inversion package) during his second postdoctoral fellowship. 
    He lives in Ontario, Canada with his wife and son.
</p>
