<p id="srinath_ashwin" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/srinath_ashwin.jpg' alt='Ashwin Srinath' />">
    <span class="person">Ashwin Srinath</span>
    is a research associate at Clemson University's
    Cyberinfrastructure Technology Integration (CITI) group
    as well as a Ph.D. candidate in Mechanical Engineering
    at Clemson University,
    His research areas include computational fluid dynamics,
    and high-performance computing.
    He spends most days programming and making mistakes,
    and some days teaching others how not to make them.
    <br/>
    <strong>Maintainer: <a href="{{site.github_url}}/matlab-novice-inflammation">Programming with MATLAB</a>, 
    <a href="{{site.github_url}}/shell-novice">The Unix Shell</a></strong>
    <strong>Maintainer: <a href="{{site.github_url}}/shell-novice">The Unix Shell</a></strong>
</p>




