<p id="srinath_ashwin" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/srinath_ashwin.jpg' alt='Ashwin Srinath' />">
    <span class="person">Ashwin Srinath</span>
    is a Master's student in Mechanical Engineering&mdash;passing off
    as a computer scientist&mdash;at Clemson University, where he does
    research in high-performance computational fluid dynamics. He
    works with Python as much as possible, but can be persuaded to
    code in C, C++ or Fortran.
    <br/>
    <strong>Maintainer: <a href="{{site.github_url}}/matlab-novice-inflammation">Programming with MATLAB</a></strong>
</p>
