<p id="stachelek_joseph" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/stachelek_joseph.jpg' alt='Joseph Stachelek' />">
    <span class="person">Joseph Stachelek</span> is an ecologist and
    research programmer at the South Florida Water Management
    District, USA. He develops software tools for interacting with
    large-scale coastal marine datasets. He started scientific
    programming in 2009 after completing Dave
    Roberts' <a href="http://ecology.msu.montana.edu/labdsv/R/">R Labs
    for Community Ecologists</a> tutorial.
</p>
