<p id="staneva_valentina" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/staneva_valentina.jpg' alt='Valentina Staneva' />">
    <span class="person">Valentina Staneva</span> is a data scientist
    at the eScience Institute at University of Washington. Her
    background is in applied mathematics and statistics and she enjoys
    extracting information from heterogeneous data sets and teaching
    others the skills and tools needed to perform data-intensive
    research.
    <br/>
    <strong>Maintainer: <a href="{{site.github_url}}/python-novice-inflammation">Programming with Python</a></strong>
</p>
