<p id="stimberg_marcel" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/stimberg_marcel.jpg' alt='Marcel Stimberg' />">
    <span class="person">Marcel Stimberg</span> is a postdoctoral
    researcher in the Computational Neuroscience of Sensory Systems
    group at the Institut de la Vision in Paris, working on software
    tools for neural simulations and on neural models of sensory
    systems and plasticity. He believes in quite a few principles
    based on the word "Open".
</p>
