<p id="strong_dena" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/strong_dena.jpg' alt='Dena Strong' />">
    <span class="person">Dena Strong</span> is an information design
    specialist at the University of Illinois. She has a MLIS in
    information science, with particular interests in user-centered
    design, data curation, and representing and organizing digital
    information. She loves to work at the intersections: connecting
    people with the information they need, connecting art and
    humanities with digital preservation and access, and connecting
    design to implementation to production.
</p>
