<p id="stubbs_daniel" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/stubbs_daniel.jpg' alt='Daniel Stubbs' />">
    <span class="person">Daniel Stubbs</span> works as a
    high-performance computing analyst for Calcul Québec at the
    Université de Montréal, using his background in applied
    mathematics to help researchers use these resources as efficiently
    as possible. This includes training and outreach as well as
    creating documentation, in both French and English.
</p>
