<p id="stueker_oliver" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/stueker_oliver.jpg' alt='Oliver Stueker' />">
    <span class="person">Oliver Stueker</span> has a Ph.D. in
    computational chemistry, and in his time in academia working with
    biomolecular simulation, chem- and bioinformatics, he has picked
    up on several scripting and programming languages and version
    control tools. Now he helps profs, post-docs, and students in
    Atlantic Canada solve research problems involving high-performance
    computers.
</p>
