<p id="takemon_yuka" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/takemon_yuka.jpg' alt='Yuka Takemon' />">
    <span class="person">Yuka Takemon</span> is a research assistant
    at The Jackson Laboratory working both as a wet lab biologist and
    a bioinformatic analysis for the Korstanje Lab. Her work mainly
    focuses on identifying causal and modifier genes for human
    age-related kidney disease such as Alport Syndrome, using
    bioinformatic tools to for QTL analysis, GWA studies, and RNA-seq
    analysis. If not in the lab, she can be found hiking around Acadia
    National Park, which she considers to be her backyard.
</p>
