<p id="tang_ming_2" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/tang_ming_2.jpg' alt='Ming Tang' />">
<span class="person">Ming Tang</span> is a computational biologist studying cancer genomics and epigenomics in MD Anderson Cancer Center in Houston, Texas. He converted from cell line to command line when he was doing his PhD in molecular cancer biology at the University of Florida. He loves to share what he learns in his <a href="http://crazyhottommy.blogspot.com/">blog</a>, <a href="https://gitlab.com/tangming2005/">gitlab</a>, and (<a href="https://github.com/crazyhottommy">github</a>. He is excited to teach biologists programming. </p>


