<p id="taylor_cody" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/taylor_cody.jpg' alt='Cody Taylor' />">
    <a href="http://codyalantaylor.com/" class="person">Cody
    Taylor</a> develops Open Educational Resources (OER) for the
    University of Oklahoma Libraries and also promotes the use of OER
    and Open Access publishing. He studied electrical engineering and
    is interested in embedded system design and implementation. His
    other interests include all things shared, especially open
    hardware designs, and open source software.
</p>
