<p id="teague_brian" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/teague_brian.jpg' alt='Brian Teague' />">
    <span class="person">Brian Teague</span> is a research scientist
    at the Massachusetts Institute of Technology Synthetic Biology
    Center.  He studies how cells work together to form systems that
    are greater than the sum of their parts.  Each summer, he advises
    the MIT International Genetically Engineered Machines (iGEM) team,
    a group of 12 undergraduates that design and execute an original
    research project in synthetic biology.
</p>
