<p id="telenczuk_bartosz" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/telenczuk_bartosz.jpg' alt='Bartosz Telenczuk' />">
    <a href="http://neuroscience.telenczuk.pl" class="person">Bartosz
    Teleńczuk</a> is a computational neuroscientists and committed
    Pythonista. He has been advocating and teaching Free/Open Source
    Software in academia and non-profit organisations for 15+ years.
    He holds a PhD in theoretical
    biophysics from Humboldt University of Berlin.
</p>
