<p id="terman_rochelle" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/terman_rochelle.jpg' alt='Rochelle Terman' />">
    <span class="person">Rochelle Terman</span> is a Ph.D. candidate
    in Political Science at the University of California, Berkeley. In
    October 2016, she will join the Center for International Security
    and Cooperation at Stanford University as a post-doctoral
    fellow. She enjoys teaching a range of tech-y topics for people of
    all backgrounds, including WordPress, Drupal, git, R, python,
    computational text analysis and webscraping. In Fall 2015, she
    designed and taught a new graduate course in computational social
    science at UC Berkeley.
</p>
