<p id="teucher_andrew" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/teucher_andrew.jpg' alt='Andrew Teucher' />">
    <span class="person">Andrew Teucher</span>
    holds an MSc in terrestrial ecology, and currently works on
    analysis and public reporting of environmental status and trend
    indicators for the British Columbia government.  He works with his
    colleagues to promote good data management and programming
    practices, and teaches introductory R courses to other government
    scientists.
</p>
