<p id="thrimawithana_amali" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/thrimawithana_amali.jpg' alt='Amali Thrimawithana' />">
    <span class="person">Amali Thrimawithana</span> is a
    Bioinformatician at the New Zealand Institute for Plant and Food
    Research Limited. She has been involved in research projects
    focusing on fungal pathogens, insect pests and plants where she
    has undertaken bioinformatics analysis including de novo assembly
    and annotation of genomes and transcriptomes, differential
    expression as well as comparative genomics. Her current major
    areas of interest focus on understanding insect pests of important
    horticultural crops as well as genome exploration of native New
    Zealand plant species. She also has a keen interest in upskilling
    people in bioinformatics/computation space and reproducible
    research.
</p>
