<p id="tong_william" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/tong_william.jpg' alt='William Tong' />">
<span class="person">William Tong</span> is a data scientist at the Australian Institute of Health Innovation. He completed his PhD in applied mathematics and is now transferring his quantitative skills to health analytics. His projects include using statistical methods to estimate the effect of hospital volume on patient safety when undergoing high risk surgeries, applying machine learning algorithms to discover clinical indicators of care associated with good/bad patient outcomes, and data mining electronic health records to discover underlying patterns in large data sets. </p>


