<p id="ugalde_juan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ugalde_juan.jpg' alt='Juan Ugalde' />">
    <a href="http://ugaldelab.github.io" class="person">Juan
    Ugalde</a> is a research professor and bioinformatics core leader
    at the School of Medicine, Universidad del Desarrollo. His
    research focuses in genomics approaches to study microbial
    diversity, from extreme environments to pathogens. He tries to
    promote (hopefully with some success), the learning of basic
    programming and data analysis skills in colleagues and students
    (at all levels), as well as reproducible analysis and open data.
</p>
