<p id="umashankar_shivshankar" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/umashankar_shivshankar.jpg' alt='Shivshankar Umashankar
' />">
<span class="person">Shivshankar Umashankar
</span> is a Research Fellow in Bioinformatics at the National University of Singapore. His interest lies in developing machine learning algorithms and statistical techniques to predict and model biological data in the areas of healthcare, food and nutritional security. Shivshankar received his PhD in Bioinformatics from the National University of Singapore. </p>

