<p id="van-shyndel_jay" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/van-schyndel_jay.jpg' alt='Jay van Schyndel' />">
    <span class="person">Jay van Schyndel</span> worked as a software
    developer on commercial insurance systems coding in COBOL and
    Java.  While at JCU his programming experience has been widened to
    include Python, Git and Bash. He is currently the Research Data
    Services Manager in the eResearch Centre at James Cook University,
    Townsville, Australia.
</p>
