<p id="van-tuyl_steve" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/van-tuyl_steve.jpg' alt='Steve Van Tuyl' />">
    <span class="person">Steve Van Tuyl</span> is the Digital
    Repository Librarian at Oregon State University Libraries & Press,
    working in the areas of digital repositories, research data
    management services, and open research. He goes on and on about
    these things and more on twitter @badgerbouse. In a former life,
    Steve studied disturbance impacts on carbon cycling in the forests
    of Oregon and New Jersey.
</p>
