<p id="ainsley_edwin" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/van-der-helm_edwin.jpg' alt='Edwin van der Helm' />">
    <span class="person">Edwin van der Helm</span>
    is working on a PhD in computational astrophysics at Leiden Observatory in the Netherlands.
    His research is about hydrodynamics in young star clusters and near masssive black holes.
    He also works as a software developer for minds.ai,
    a company specialized in training deep neural networks.
</p>
