<p id="van-heusden_peter" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/van-heusden_peter.jpg' alt='Peter van Heusden' />">
    <span class="person">Peter van Heusden</span> is a software
    developer and bioinformaticist working at the South African
    National Bioinformatics Institute (SANBI) in Cape Town, South
    Africa. He enjoys trying to build better workflows for genomic
    research, teaching Python programming and advocating for research
    and teaching with a positive social and ecological impact.
</p>
