<p id="venkateshwaran_vasu" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/venkateshwaran_vasu.jpg' alt='Vasu Venkateshwaran
' />">
<span class="person">Vasu Venkateshwaran
</span> is a research scientist at W. L. Gore and Associates, where he develops mathematical models and simulation/analysis tools to facilitate product development, data analytics and meet a variety of technology R&D needs. Previously he was a graduate student at Rensselaer Polytechnic Institute where he was using the methods of statistical thermodynamics, molecular simulations, and free energy calculations to study condensed matter systems, specifically, water, ions, small molecules, proteins, polymers and interfacial systems. </p>

