<p id="via_allegra" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/via_allegra.jpg' alt='Allegra Via' />">
    <span class="person">Allegra Via</span> is a physicist and a
    scientific researcher at the National Research Council (CNR) and
    Sapienza University of Rome (IT). Her main research interests
    include protein structural bioinformatics, protein function
    prediction and analysis, and protein interactions. She has a long
    track record of training and academic teaching (Python
    programming, Bioinformatics, Biochemistry) and, since 2015, she is
    the ELIXIR Italy Training Coordinator.  As such, she is involved
    in the design, organisation and delivery of bioinformatics
    training courses, Train-The-Trainer activities, and collaborations
    on many training-related initiatives with other ELIXIR's nodes.
</p>
