<p id="vilbig_kevin" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/vilbig_kevin.jpg' alt='Kevin Vilbig' />">
    <span class="person">Kevin Vilbig</span>
    is a polyglot programmer with a B.Sc. in Social Science via the
    Portland State University Honors College. He is currently a first
    year Master's in Social Work student at the University of Texas at
    Arlington, but understands more than enough mathematics to get
    into trouble. You can find him in the deep end or riding a bicycle
    in traffic, both figuratively and literally. He is planning to
    write a Master's thesis in the area of structural equation
    modeling in R.
</p>
