<p id="villas-boas_ana-beatriz-bia" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/villas-boas_ana-beatriz-bia.jpg' 
alt='Bia Villas Bôas' />">
<span class="person">Bia Villas Bôas</span> is a Ph.D. student at 
Scripps Institution of Oceanography, at the University of California, 
San Diego. She is interested in understanding how surface waves interact 
with other processes in the upper-ocean. Bia is deeply motivated by the 
power of action and her strongest influences come from traditional 
karate and Zen Buddhism. If not in her office, you will most probably 
find her in the closest body of saltwater studying the ocean from a 
surfboard. </p>


