
<p id="walker_dawn" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/walker_dawn.jpg' alt='Dawn Walker' />">
    <span class="person">Dawn Walker</span> is a information studies graduate student at the University
of Toronto. Her research interests include design practises for civic
engagement as well as community-led data collection for urban food
security and environmental monitoring. An avid gardener, Dawn has
volunteered in community gardens and urban agriculture projects across
Canada.
</p>
