<p id="walker_andrew" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/walker_andrew.jpg' alt='Andrew Walker' />">
    <a href="http://www.see.leeds.ac.uk/people/a.walker" class="person">Andrew Walker</a>
     is an Associate Professor in computational geophysics at the University of Leeds. After
     a degree in geology, a PhD in mineral physics, and ten years of
     postdoctoral research, he now holds a personal fellowship from
     the Natural Environment Research Council in the Institute of
     Geophysics and Tectonics. Andrew's research focuses on modelling
     the way that the Earth's interior deforms from the atomic to the
     planetary scale.
</p>
