<p id="waterfall_josh" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/waterfall_josh.jpg' alt='Josh Waterfall' />">
    <span class="person">Josh Waterfall</span> is a senior research
    fellow at the National Cancer Institute in Bethesda, MD.  He works
    at the interface of computational methods, chromatin biology, and
    clinical oncology, revealing fundamental biology and translational
    opportunities from deep characterization of striking clinical
    cancer phenotypes.
</p>
