<p id="watson_greg" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/watson_greg.jpg' alt='Greg Watson' />">
<span class="person">Greg Watson</span> is a Senior Research Scientist at Oak Ridge National Laboratory, and an Adjunct Professor in the Center for Data Science at New York University. He is founder of the Eclipse Parallel Tools Platform, a founding member of the Eclipse Science Working Group, and project leader of the Eclipse Science Top Level Project. Greg previously held positions as Manager of Corporate Computer Systems at Griffith University, and Manager of the Queensland Supercomputing Facility, both in Brisbane, Australia. Greg has also worked at IBM Research, and held the position of HPC Tools Architect in IBM's Systems Group. </p>


