<p id="weaver_belinda" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/weaver_belinda.jpg' alt='Belinda Weaver' />">
    <span class="person">Belinda Weaver</span>
    is our Community Development Lead. Based in Brisbane, Australia, she most recently
    worked for the <a href="http://www.qcif.edu.au">Queensland Cyber Infrastructure Foundation</a>,
    which provides eResearch infrastructure, including cloud resources, to Queensland universities.
    Belinda tweets as <a href="https://twitter.com/cloudaus">@cloudaus</a>.
    <br/>
    <strong>Instructor Trainer, Steering Committee (2016, 2017 Member) </strong>
</p>
