<p id="weber_lukas" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/weber_lukas.jpg' alt='Lukas Weber' />">
    <span class="person">Lukas Weber</span> is a PhD student in
    biostatistics at the University of Zurich in Switzerland. His
    research work is on the development of statistical and
    computational methods for analyzing bioinformatics data, and he
    uses R for most of his programming. He grew up in Perth,
    Australia, and previously worked for the Australian government on
    climate policy and the national greenhouse gas inventory.
</p>
