<p id="wheelhouse_mark" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/wheelhouse_mark.jpg' alt='Mark Wheelhouse' />">
    <span class="person">Mark Wheelhouse</span> is a Teaching Fellow
    in the Department of Computing at Imperial College London.  He is
    the coordinator for the second year of their Undergraduate
    Computer Science degree primarily supporting labs on compilers and
    operating systems.  He is a big science-fiction and fantasy fan,
    eagerly devouring everything he can read/watch/play.
</p>
