<p id="wheeler_daniel" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/wheeler_daniel.jpg' alt='Daniel Wheeler' />">
    <a href="http://wd15.github.io/about.html" class="person">Daniel
    Wheeler</a> is a computer scientist in
    the <a href="http://www.nist.gov/mml/msed/">Materials Science and
    Engineering Division</a> at
    <a href="http://www.nist.gov">NIST</a>.  He is interested in the
    deployment and development of scientific computing tools and
    resources for materials scientists.
</p>
