<p id="williams_jason" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/williams_jason.jpg' alt='Jason Williams' />">
    <span class="person">Jason Williams</span>
Jason is Assistant Director, External Collaborations at Cold Spring Harbor Laboratory’s DNA Learning Center (www.dnalc.org) 
and is the Education, Outreach, and Training lead for CyVerse. Jason organizes, instructs, and speaks at more than dozen 
bioinformatics workshops annually. In addition to Cold Spring Harbor, Jason is faculty at Yeshiva University in New York, 
where he created and instructs a research program for their Girl's High School. Jason also serves on committees and boards 
for several projects that advance science and science.
    <br/>
    <strong>Steering Committee (2016 Chair, 2015 Member) </strong>
</p>
