<p id="williamson_evan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/williamson_evan.jpg' alt='Evan Williamson' />">
    <span class="person">Evan Williamson</span> is the Digital
    Infrastructure Librarian at University of Idaho. Despite a
    background in Art History, Anthropology, and Philosophy, he always
    manages to get involved in all things digital. At the library he
    works with Data &amp; Digital Services to bring cool projects,
    enlightening workshops, and innovative services to life.
</p>
