<p id="willmore_frank" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/willmore_frank.jpg' alt='Frank Willmore' />">
    <span class="person">Frank Willmore</span> received his PhD in
    chemical engineering from the University of Texas after a career
    in software engineering. He served as a research associate at the
    Texas Advanced Computing Center before leaving to pursue
    consulting interests. He currently lives in Taipei where he is
    lead editor on a book on scientific and technical computing, to be
    available from CRC/Taylor and Francis.
</p>
