<p id="wilson_aidan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/wilson_aidan.jpg' alt='Aidan Wilson' />">
    <span class="person">Aidan Wilson</span> is an eResearch Analyst
    at Intersect Australia, a not-for-profit organisation that helps
    researchers at Australian universities achieve research impact
    through technology. Before that, Aidan was a linguist and spent
    his postgraduate years researching Aboriginal Australian
    languages. He also worked as an archivist and data manager at
    PARADISEC, an archive for digital material relating to endangered
    cultures in the Australia-Pacific region, a role in which he
    taught himself basic coding and unix competency so as to work more
    efficiently.
</p>
