
<p id="wrublewski_donna" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/wrublewski_donna.jpg' alt='Donna Wrublewski' />">
<span class="person">Donna Wrublewski</span> is the Librarian and Information Specialist for Chemistry and Biology at the California Institute of Technology. She holds a Bachelor's Degree in Chemical Engineering from MIT, and Master's and Doctorate degrees in Polymer Science and Engineering from the University of Massachusetts Amherst. As a Librarian, she aims to bring all the knowledge and information she wish she knew as a student to help those currently pursuing their studies (and hopefully help them have an easier time of things). </p>

