<p id="xiao_xiao" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/xiao_xiao.jpg' alt='Xiao Xiao' />">
    <span class="person">Xiao Xiao</span> is a postdoc at the
    University of Maine. Her research area is macroecology, which
    identifies ecological patterns and processes at broad spatial
    and/or temporal scales using large amount of data. She finds
    programming to be an essential part of her research, and looks
    forward to sharing the skills she has learned at workshops with
    others.
</p>
