<p id="ye_isaac" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ye_isaac.jpg' alt='Isaac Ye' />">
    <span class="person">Isaac Ye</span> works for
    Compute-Canada/SHARCNET at York University in Toronto, Ontario as
    a High Performance Computing Programming Specialist with a
    research specialty in the Computational Fluid Dynamics. He has
    been involved in various research field such as the Meteorology,
    Bioinformatics, Crystal modelling and mainly turbulent combustion
    which requires massive computation.
</p>
