<p id="young_lynn" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/young_lynn.jpg' alt='Lynn Young' />">
    <span class="person">Lynn Young</span> is a bioinformaticist
    specializing in the analysis of high-throughput data. She is with
    the National Institutes of Health Library Bioinformatics Support
    Program which provides services for data analysis, consulting,
    training, and computer programming. She studied the vibrational
    modes of DNA for her thesis in solid state physics.
</p>
