<p id="zhang_jingchao" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/zhang_jingchao.jpg' alt='Jingchao Zhang' />">
    <span class="person">Jingchao Zhang</span> received his PhD in
    Mechanical Engineering from Iowa State University in 2013. He
    currently works as an HPC applications specialist at University of
    Nebraska-Lincoln Holland Computing Center, where he works to
    promote the use of high performance cyberinfrastructure and a wide
    variety of research projects requiring high performance and/or
    high throughput computing, storage, and other cyberinfrastructure.
</p>
