<p id="zingale_michael" data-toggle="tooltip" title="<img 
src='{{site.filesurl}}/people/zingale_michael.jpg' alt='Michael Zingale' />">
 <a href="http://www.astro.sunysb.edu/mzingale/" class="person">Michael 
Zingale</a> is an Associate Professor of Physics and Astronomy at Stony Brook 
University. His research focuses on computational astrophysics, including developing 
hydrodynamics methods for modeling stellar convection and explosions and applying them to 
simulations of supernovae and X-ray bursts. All the codes he develops are freely 
available.
. </p>

