<p id="zuniga_juan-carlos">
    <span class="person">Juan Carlos Zuniga</span> is a research
    software engineer. He has a PhD in systems theory and is
    specialized in the development of fast algorithms for matrix and
    polynomial matrix computations. He worked as an assistant
    professor and later as a computational science consultant and
    technical software developer for the industry and different
    private research companies. He has years of experience developing
    technical software to solve complex problems in different areas of
    science and engineering. Juan Carlos currently works as an
    advanced computing research analyst and HPC specialist at the
    University of Saskatchewan, and for Westgrid/Compute Canada.
</p>
