---
layout: page-fullwidth
permalink: /index.html
---
<div class="row">
  <div class="medium-12 columns" align="center">
    <h3>2016 Elections</h3>
    <p>
      <strong>
	The election for the 2016 Steering Committee will take place in the week of February 15-19, 2016.
	The people below have put themselves forward as candidates,
	and will take part in question and answer sessions on February 9, 2016
	to talk to the community about their candidacy and how they hope to contribute to the future of Software Carpentry.
      </strong>
    </p>
    <table>
      <tr>
	<td><a href="{{page.baseurl}}/blog/2016/01/D-Aruliah-SWC-Steering-Committee.html">Dhavide Aruliah</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/steering-guyer.html">Jonathan Guyer</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/steering-harris.html">Rayna Harris</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/steering-Hertweck.html">Kate Hertweck</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/lagesen-steering-committee.html">Karin Lagesen</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/macdonell.html">Cam Macdonell</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/steering-lauren-michael.html">Lauren Michael</a></td>
      </tr>
      <tr>
	<td><a href="{{page.baseurl}}/blog/2016/01/steeringbillmills.html">Bill Mills</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/giacomoperu.html">Giacomo Peru</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/steering-raniere-silva.html">Raniere Silva</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/steeringleannewake.html">Leanne Wake</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/steering-anelda.html">Anelda van der Walt</a></td>
	<td><a href="{{page.baseurl}}/blog/2015/12/scf-nomination-weaver.html">Belinda Weaver</a></td>
	<td><a href="{{page.baseurl}}/blog/2016/01/election-jason-williams.html">Jason Williams</a></td>
      </tr>
    </table>
  </div>
  <br/>
</div>

<div class="row">
  <div class="medium-4 columns">
    <a href="{{site.baseurl}}/workshops/"><img src="{{site.baseurl}}/files/workshops/2012-12-uta-2.jpg" alt="University of Texas 2012" /></a>
    <a href="{{site.baseurl}}/workshops/"><h4>Our Workshops ›</h4></a>
    <p>
      Find or host a workshop.
    </p>
  </div>
  <div class="medium-4 columns">
    <a href="{{site.baseurl}}/lessons/"><img src="{{site.filesurl}}/diagram.png" alt="Concept Map" /></a>
    <a href="{{site.baseurl}}/lessons/"><h4>Our Lessons ›</h4></a>
    <p>
      Have a look at what we teach.
    </p>
  </div>
  <div class="medium-4 columns">
    <a href="{{site.baseurl}}/join/"><img src="{{site.baseurl}}/files/workshops/scripps-2012-11-2.jpg" alt="Scripps 2012" /></a>
    <a href="{{site.baseurl}}/join/"><h4>Get Involved ›</h4></a>
    <p>
      Help us help researchers.
    </p>
  </div>
</div>

<div class="row">
  <div class="medium-8 columns">
    <h3>Recent Blog Posts</h3>
    {% include list-posts.html entries='10' %}
  </div>
  <div class="medium-4 columns">
    <h3>Upcoming Workshops</h3>
    <table class="table table-striped workshops">
      {% for w in site.data.amy.workshops_current %}
      <tr>
	<td>
	  <img src="{{site.baseurl}}/files/flags/{{site.flag_size}}/{{w.country | downcase}}.png" title="{{w.country | replace: '-', ' '}}" alt="{{w.country | replace: '-', ' ' | downcase}}" />
	  <a href="{{w.url}}">{{w.venue}}</a>
	  <br/>
	  {{w.humandate}}
	</td>
      </tr>
      {% endfor %}
      <tr>
	<td>
	  <em><a href="{{site.baseurl}}/workshops/">See more...</a></em>
	</td>
      </tr>
    </table>
  </div>
</div>
