---
layout: page-fullwidth
permalink: /lessons/dashboard/
title: Development Dashboard
redirect_from:
  - /pages/dashboard.html
excerpt: dashboard for lesson status
---
<p>Last rebuilt {{site.data.dashboard.timestamp}}.</p>

Looking for a way to contribute to our lessons? Visit <a href="https://carpentries.org/help-wanted-issues/">the Help Wanted page on The Carpentries website</a> to see a list of issues in need of attention on Software Carpentry, <a href="https://datacarpentry.org/">Data Carpentry</a>, <a href="https://librarycarpentry.org">Library Carpentry</a>, <a href="https://carpentries.org">The Carpentries</a>, <a href="https://carpentries.org/community-lessons">CarpentriesLab</a>, and <a href="https://carpentries.org/community-lessons">Carpentries Incubator</a> repositories.

{% for record in site.data.dashboard.records %}
  <h2>{{record.description}}: <a href="{{record.url}}">{{record.ident}}</a></h2>
  <table class="table table-striped">
    {% if record.pulls.size > 0 %}
      <tr>
        <th colspan="3">Pull Requests</th>
      </tr>
      {% for i in record.pulls reversed %}
      <tr>
        <td width="5%"><a href="{{i.url}}">{{i.number}}</a></td>
        <td width="10%">{{i.updated}}</td>
        <td width="85%">{{i.title}}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
	<th colspan="3">No pull requests</th>
    {% endif %}
    {% if record.issues.size > 0 %}
      <tr>
        <th colspan="3">Issues</th>
      </tr>
      {% for i in record.issues reversed %}
      <tr>
        <td width="5%"><a href="{{i.url}}">{{i.number}}</a></td>
        <td width="10%">{{i.updated}}</td>
        <td width="85%">{{i.title}}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
	<th colspan="3">No issues</th>
    {% endif %}
  </table>
{% endfor %}
