---
layout: page-fullwidth
permalink: /reading/
title: Reading Material
redirect_from:
  - /bib/bib.html
  - /bib/reading.html
---
<h2>Books</h2>

<div class="row">
  <div class="medium-6 columns">{% include projects/practical-computing-for-biologists.html %}</div>
  <div class="medium-6 columns">{% include projects/eff-phys.html  %}</div>
</div>

<h2>Papers</h2>

<ul>

  <li>
    <p>
      Jorge Aranda: "<a href="{{site.filesurl}}/papers/aranda-assessment-2012-07.pdf">Software Carpentry Assessment Report</a>",
      July 2012.
    </p>
  </li>

  <li>
    <p>
      Matthew Gentzkow and Jesse Shapiro:
      "<a href="https://people.stanford.edu/gentzkow/sites/default/files/codeanddata.pdf">Code and Data for the Social Sciences: A Practitioner's Guide.</a>",
      2014.
    </p>
  </li>

  <li>
    <p>
      Jo Erskine Hannay, Hans Petter Langtangen, Carolyn MacLeod, Dietmar Pfahl, Janice Singer, and Greg Wilson:
      "<a href="{{site.filesurl}}/papers/secse-survey-2009.pdf">How Do Scientists Develop and Use Scientific Software?</a>"
      <cite>Proc. 2009 ICSE Workshop on Software Engineering for Computational Science and Engineering</cite>,
      2009.
    </p>
  </li>

  <li>
    <p>
      Edmund Hart, Pauline Barmby, David LeBauer, Fran&ccedil;ois Michonneau, Sarah Mount, Timoth&eacute;e Poisot, Kara H. Woo,
      Naupaka Zimmerman, and Jeffrey W Hollister:
      "<a href="https://peerj.com/preprints/1448/">Ten Simple Rules for Digital Data Storage</a>"
      <cite>PeerJ PrePrints</cite>,
      2015.
    </p>
  </li>

  <li>
    <p>
      Christian T. Jacobs, Gerard J. Gorman, and Lorraine Craig:
      "<a href="http://arxiv.org/abs/1505.05425">Experiences with Efficient Methodologies for Teaching Computer Programming to Geoscientists</a>",
      2015.
    </p>
  </li>

  <li>
    <p>
      Julie Libarkin:
      "<a href="{{site.filesurl}}/papers/libarkin-assessment-report-2012-06.pdf">Software Carpentry Workshop Evaluation</a>",
      June 2012.
    </p>
  </li>

  <li>
    <p>
      William Stafford Noble:
      "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1000424">A Quick Guide to Organizing Computational Biology Projects.</a>"
      <cite>PLoS Computational Biology</cite>,
      2009.
    </p>
  </li>

  <li>
    <p>
      Marian Petre and Greg Wilson:
      "<a href="http://arxiv.org/abs/1407.5648">Code Review For and By Scientists</a>"
      <cite>Proc. 2nd Workshop on Sustainable Software for Science: Practice and Experience</cite>,
      2014.
    </p>
  </li>

  <li>
    <p>
      Jory Schossau and Greg Wilson:
      "<a href="http://arxiv.org/abs/1407.6220">Which Sustainable Software Practices Do Scientists Find Most Useful?</a>"
      <cite>Proc. 2nd Workshop on Sustainable Software for Science: Practice and Experience</cite>,
      2014.
    </p>
  </li>

  <li>
    <p>
      Alexandra Simperler and Greg Wilson
      "<a href="http://arxiv.org/abs/1506.02575">Software Carpentry: Get More Done in Less Time</a>"
      2015.
    </p>
  </li>

  <li>
    <p>
      Tracy K. Teal, Karen A. Cranston, Hilmar Lapp, Ethan White, Greg Wilson, Karthik Ram, and Aleksandra Pawlik:
      "<a href="http://ijdc.net/index.php/ijdc/article/view/10.1.135">Data Carpentry: Workshops to Increase Data Literacy for Researchers</a>"
      <cite>International Journal of Digital Curation</cite>,
      2015.
    </p>
  </li>

  <li>
    <p>
      Ethan P. White, Elita Baldridge, Zachary T. Brym, Kenneth J. Locey, Daniel J. McGlinn, and Sarah R. Supp:
      "<a href="https://peerj.com/preprints/7/">Nine Simple Ways to Make It Easier to (Re)use Your Data</a>"
      <cite>PeerJ PrePrints</cite>,
      2013.
    </p>
  </li>

  <li>
    <p>
      Hadley Wickham:
      "<a href="http://www.jstatsoft.org/index.php/jss/article/view/v059i10/">Tidy Data</a>"
      <cite>Journal of Statistical Software</cite>,
      2013.
    </p>
  </li>

  <li>
    <p>
      Greg Wilson, D. A. Aruliah, C. Titus Brown, Neil P. Chue Hong, Matt Davis, Richard T. Guy, Steven H. D. Haddock, Kathryn D. Huff,
      Ian M. Mitchell, Mark D. Plumbley, Ben Waugh, Ethan P. White, and Paul Wilson:
      "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>"
      <cite>PLoS Biology</cite>,
      2014.
    </p>
  </li>

  <li>
    <p>
      Greg Wilson:
      "<a href="http://f1000research.com/articles/3-62/v1">Software Carpentry: Lessons Learned</a>"
      <cite>F1000 Research</cite>,
      2014.
    </p>
  </li>

</ul>
