---
layout: page-fullwidth
permalink: /scf/
title: The Software Carpentry Foundation
minutes: https://github.com/swcarpentry/board/blob/master/minutes
---
<div align="center">
  <img src="{{site.filesurl}}/workshops/2014-capetown-slice.png" alt="Capetown Workshop 2014" />
</div>

<p>
  The Software Carpentry Foundation oversees all aspects of Software Carpentry's operations.
  It has four components:
</p>
<ul>
  <li id="membership">
    <p>
      The <em>Membership</em> includes
      every instructor who has taught at least twice in the past two calendar years,
      anyone who has done 30 days or more work for the SCF in the past calendar year,
      and anyone who has,
      in the opinion of the Steering Committee,
      made a significant contribution in the past year.
      Members elect the Steering Committee, and may also seek election to it.
    </p>
  </li>
  <li id="steering-committee">
    <p>
      The <em>Steering Committee</em> makes all significant strategic and financial decisions for the Foundation.
      Its members are elected annually from and by the membership.
    </p>
  </li>
  <li id="advisory-council">
    <p>
      The <em>Advisory Council</em> includes representatives of
      organizations that support the Software Carpentry Foundation's mission.
      The Steering Committee must consult with it when making significant strategic, contractual, or financial decisions.
      Every partner organization may appoint a representative,
      and the Steering Committee may co-opt additional persons to the Advisory Council from the wider community.
    </p>
  </li>
  <li id="executive-directory">
    <p>
      The Executive Director is appointed by, and answers to, the Steering Committee.
      He or she is a paid employee of the Foundation, and is responsible for overseeing its day-to-day operations.
    </p>
  </li>
</ul>

<p id="program-coordinator">
  The SCF also employs a Program Coordinator to match instructors to workshops,
  handle requests for instructor training,
  and so on.
  For more information on the SCF,
  please see <a href="{{site.github_url}}/board">this GitHub repository</a>.
</p>

<h2 id="staff">Staff</h2>

<div class="row">
  <div class="medium-4 columns">
    <h4>Executive Director</h4>
    {% include people/duckles.jonah.html %}
  </div>
  <div class="medium-4 columns">
    <h4>Program Coordinator</h4>
    {% include people/sane.maneesha.html %}
  </div>
  <div class="medium-4 columns">
    <h4>Emeritus Executive Director</h4>
    {% include people/wilson.g.html %}
  </div>
</div>

<h2 id="committee-2015">Steering Committee (2015)</h2>

<div class="row">
  <div class="medium-4 columns">
    {% include people/huff.k.html %}
  </div>
  <div class="medium-4 columns">
    {% include people/davis.m.html %}
  </div>
  <div class="medium-4 columns">
    {% include people/lagesen.k.html %}
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    {% include people/williams.jason.html %}
  </div>
  <div class="medium-4 columns">
    {% include people/chuang-howe.a.html %}
  </div>
  <div class="medium-4 columns">
    {% include people/pawlik.a.html %}
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    {% include people/silva.raniere.html %}
  </div>
  <div class="medium-4 columns"></div>
  <div class="medium-4 columns"></div>
</div>

<h2>Meeting Minutes</h2>

<p>
  A summary of all Steering Committee resolutions can be found
  <a href="{{page.minutes}}/resolutions.md">here</a>.
</p>

<div class="row">
  <div class="medium-2 columns">
    <h3>2014</h3>
    <ul>
      <li><a href="{{page.minutes}}/minutes-2014-12-16.md">2014-12-16</a></li>
      <li><a href="{{page.minutes}}/minutes-2014-12-02.md">2014-12-02</a></li>
      <li><a href="{{page.minutes}}/minutes-2014-11-18.md">2014-11-18</a></li>
      <li><a href="{{page.minutes}}/minutes-2014-11-04.md">2014-11-04</a></li>
      <li><a href="{{page.minutes}}/minutes-2014-10-14.md">2014-10-14</a></li>
      <li><a href="{{page.minutes}}/minutes-2014-09-30.md">2014-09-30</a></li>
      <li><a href="{{page.minutes}}/minutes-2014-09-16.md">2014-09-16</a></li>
    </ul>
  </div>
  <div class="medium-2 columns">
    <h3>2015</h3>
    <ul>
      <li><a href="{{page.minutes}}/minutes-2015-10-08.md">2015-10-08</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-09-24.md">2015-09-24</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-08-26.md">2015-08-26</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-07-30.md">2015-07-30</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-07-16.md">2015-07-16</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-07-02.md">2015-07-02</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-06-18.md">2015-06-18</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-05-21.md">2015-05-21</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-04-23.md">2015-04-23</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-04-09.md">2015-04-09</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-03-26.md">2015-03-26</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-03-12.md">2015-03-12</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-02-26.md">2015-02-26</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-02-19.md">2015-02-19</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-02-12.md">2015-02-12</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-02-03.md">2015-02-03</a></li>
      <li><a href="{{page.minutes}}/minutes-2015-01-20.md">2015-01-20</a></li>
    </ul>
  </div>
  <div class="medium-8 columns">
  </div>
</div>
