---
layout: page-fullwidth
permalink: /scf/partners/
title: Our Partners
redirect_from:
  - /scf/supporters.html
---
<div class="row">
  <div class="medium-6 columns">
    <p class="imgpar">
      <img src="{{site.filesurl}}/orgs/data-carpentry.png" alt="Data Carpentry" />
      Our sibling organization
      <a href="{{site.dc_url}}">Data Carpentry</a>
      teaches basic concepts, skills, and tools for working more effectively with data.
      They develop curricula and run workshops that are domain specific,
      target fundamental data analysis and data management challenges,
      and require little or no prior programming experience.
    </p>
  </div>
  <div class="medium-6 columns">
    <p class="imgpar">
      <img src="{{site.filesurl}}/orgs/numfocus.jpg" alt="NumFOCUS" />
      We are very grateful to our fiscal sponsor, <a href="http://numfocus.org">NumFOCUS</a>.
      Its aim to promote the use of accessible and reproducible computing in science and technology
      through educational programs,
      the promotion of high-level languages,
      reproducible scientific research,
      and open-code development,
      and an increase in collaborative research tools and documentation.
    </p>
  </div>
</div>

<hr/>

<h2>Gold Partners</h2>

<div class="row">
  <div class="medium-6 columns">
    {% include orgs/compute-canada.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/elixir-uk.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/github.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/cyverse.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/leeds.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/michigan.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/rackspace.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/ssi.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/uw-escience.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/ufl.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/jackson-lab.html %}
  </div>
  <div class="medium-6 columns">

  </div>
</div>

<hr/>

<h2>Silver Partners</h2>

<div class="row">
  <div class="medium-6 columns">
    {% include orgs/bids.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/lbl.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/michigan-state.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/nesi.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/nlesc.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/ucar.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/uc-davis.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/ucl.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
   {% include orgs/oslo.html %}
  </div>
  <div class="medium-6 columns">
   {% include orgs/uwmadison.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/umelbourne.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/umiami.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/ucsd.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/caltech.html %}
  </div>
</div>

<hr/>

<h2>Sponsors and Donors</h2>

<div class="row">
  <div class="medium-6 columns">
    {% include orgs/insight-data-science.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/rstudio.html %}
  </div>
</div>

<hr/>

<h2>Past Supporters</h2>

<p>We are very grateful for the support we have received from:</p>

<div class="row">
  <div class="medium-6 columns">
    {% include orgs/continuum.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/enthought.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/indiana-u.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/lanl.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/mathworks.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/microsoft.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/mitacs.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/msl.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/psf.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/qmul.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/scimatic.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/scinet.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/sharcnet.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/sloan.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/ssi.html %}
  </div>
  <div class="medium-6 columns">
    {% include orgs/utoronto.html %}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    {% include orgs/ukmo.html %}
  </div>
  <div class="medium-6 columns">
  </div>
</div>
