---
layout: page-fullwidth
permalink: /team/
title: Our Team
---
<script src="https://embed.github.com/view/geojson/gvwilson/feeling-responsive/gh-pages/instructors.geojson"></script>

<div align="center">
  {% for flag in site.data.amy.flags.airports %}
    <img src="{{site.filesurl}}/flags/32/{{flag}}.png" alt="{{flag|replace:'-',' '}}" />
    {% unless forloop.last %}
      {% assign loopindex = forloop.index0 | modulo: 16 %}
      {% if loopindex == 15 %}
      <br/>
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>

<div class="row">
  {% for person_hash in site.data.people %}
  {% assign person = person_hash[1] %}
  <div class="small-6 columns">
    <p id="{{person.id}}" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/{{person.id}}.jpg' alt='{{person.name}}'>">
      {{ person.biography | markdownify }}
    </p>
  </div>
    {% cycle '', '</div>' %}
    {% cycle '', '<div class="row">' %}
  {% endfor %}
</div>
