---
layout: page-fullwidth
permalink: /workshops/past/
title: Past Workshops
map_url: workshops_past.json
map_element: map_canvas
redirect_from:
  - /workshops/previous.html
excerpt: listing of all our past workshops
---

{% assign first_workshop_date = site.data.SWC_past_workshops_plain | group_by: "start_date" | sort: "name" | map: "name" | first %}

{% assign n_workshops = site.data.SWC_past_workshops_plain | size %}

{% assign flags = site.data.SWC_past_workshops_plain | group_by: "country" | sort: "name" | map: "name"  %}

{% assign n_countries = flags | size %}


<div>
 Since {{ first_workshop_date | date_to_long_string }}, we have run {{ n_workshops }} workshops in {{ n_countries }} countries.
</div>


<div id="map_canvas" style="width: 98%; height: 500px; margin-left:auto; margin-right: auto; margin-bottom: 15px"></div>

<div style="text-align: center; margin-bottom: 15px">
  {% for flag in flags %}
  {% if flag != "" %}
  <img src="{{site.filesurl}}/flags/32/{{flag | downcase }}.png" title="{{flag | replace: '-',' ' | downcase }}" alt="{{flag | replace: '-',' '}}" />
  {% endif %}
    {% unless forloop.last %}
      {% assign loopindex = forloop.index0 | modulo: 16 %}
      {% if loopindex == 15 %}
      <br/>
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>

<table class="table table-striped workshops" style="width: 100%;">
  {% for w in site.data.SWC_past_workshops_plain %}
  <tr>
    <td>
      {% if flag != "" %}
      <img src="{{site.filesurl}}/flags/{{site.flag_size}}/{{w.country | downcase}}.png" title="{{w.country | replace: '-', ' '}}" alt="{{w.country | replace: '-', ' '}}" style="max-width: inherit;" />
      {% endif %}
    </td>
    <td class="link">
      <a href="{{w.url}}">{{w.venue}}</a>
      {% if w.instructors %}
      <br/>
      <b>Instructors:</b> {{ w.instructors | replace: ",", ", "}}
      {% endif %}
      {% if w.helpers %}
      <br/>
      <b>Helpers:</b> {{ w.helpers  | replace: ",", ", "}}
      {% endif %}
    </td>
    <td class="date" style="width: 20%">{{w.start_date | date: "%b %-d"}} - {{w.end_date | date: "%b %-d, %Y"}}</td>
  </tr>
  {% endfor %}
</table>
