<p class="imgpar" id="caltech">
  <img src="{{site.filesurl}}/orgs/caltech.png" style="height: 50px;" alt="Caltech" />
  The mission of the <a href="http://caltech.edu">California Institute of Technology</a> is to expand human knowledge and benefit society through research integrated with education. We investigate the most challenging, fundamental problems in science and technology in a singularly collegial, interdisciplinary atmosphere, while educating outstanding students to become creative members of society.
</p>
