<p class="imgpar" id="jackson-lab">
<img src="{{site.filesurl}}/orgs/jackson-lab.gif" alt="The Jackson Laboratory"/>
<a href="http://www.jax.org">The Jackson Laboratory</a> is an independent, nonprofit biomedical research institution based in Bar Harbor, Maine, with a National Cancer Institute-designated Cancer Center, a facility in Sacramento, Calif., and a genomic medicine institute in Farmington, Conn. It employs 1,800 staff, and its mission is to discover precise genomic solutions for disease and empower the global biomedical community in the shared quest to improve human health.
</p>
