<p class="imgpar" id="Macquarie">
<img src="{{site.filesurl}}/orgs/macquarie.png" alt="macquarie" />
<a href="https://www.mq.edu.au/">Macquarie University</a> is a university of service and engagement. Its purpose is to serve and engage students and staff through transformative learning and life experiences, and to serve and engage the world through discovery, dissemination of knowledge and ideas, innovation and deep partnerships. The university ranks among the top two percent of universities in the world and holds a 5-star QS rating.
</p>
