<p class="imgpar" id="uw-escience">
  <img src="{{site.filesurl}}/orgs/uw-escience.png" alt="eScience Institute, University of Washington" />
  The <a href="http://escience.washington.edu/">eScience Institute at the University of Washington</a>
  is working to create the intellectual and physical infrastructure needed to meet
  the challenges of doing science in a world where new sources of large, complex, and noisy data
  are fundamentally changing the kinds of science questions we can answer.
</p>
