<p class="imgpar" id="uwmadison">
<img src="{{site.filesurl}}/orgs/uwmadison.png" alt="UWMadison" />
As part of a billion-dollar research enterprise, <a href="http://www.wisc.edu/">UW-Madison's</a> Advanced Computing Initiative (ACI) 
  provides strategic support for shared computing services, learning resources and professional assistance for 
  data-intensive research. By coordinating a campus community of instructors and helpers, who contributed to early Software 
  Carpentry curriculum, ACI has sponsored more than fifteen Software Carpentry workshops at UW-Madison since 2012.
</p>
